/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Setting Page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.InstructorSettingPage {
  position: relative;
}
.InstructorSettingPage .img-name-settingpage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: var(--main-padding-top);
  transition: var(--main-transition);
}

.InstructorSettingPage .img-name-settingpage::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--main-color) 50%, #ffffff00 50%);
  opacity: 0.7;
  transition: var(--main-transition);
}
.InstructorSettingPage .img-name-settingpage .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.InstructorSettingPage .img-name-settingpage .img-container {
  position: relative;
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  height: 150px;
}
.InstructorSettingPage .img-name-settingpage .img-container label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-transition);
}
.InstructorSettingPage .img-name-settingpage .img-container label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "Upload";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--main-color);
  border-radius: 50%;
  transition: var(--main-transition);
}
.InstructorSettingPage
  .img-name-settingpage
  .img-container
  label:hover::before {
  opacity: 0.6;
  z-index: 2;
}
.InstructorSettingPage .img-name-settingpage img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: var(--main-transition);
  background-color: aliceblue;
  transition: var(--main-transition);
}
.InstructorSettingPage .img-name-settingpage h1 {
  color: var(--main-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.InstructorSettingPage .img-name-settingpage h1 button {
  padding: 8px 12px;
  position: relative;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}
.InstructorSettingPage .img-name-settingpage h1 button:hover {
  background-color: var(--main-color-hover);
}
@media (max-width: 767px) {
  .InstructorSettingPage .img-name-settingpage {
    text-align: center;
  }
  .InstructorSettingPage .img-name-settingpage h1 {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
  .InstructorSettingPage .img-name-settingpage .container {
    align-items: center;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Student Setting Page student details
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.InstructorSettingPage .setting-name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}
.InstructorSettingPage .setting-name li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  height: 100%;
  height: 50px;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}
.InstructorSettingPage .setting-name li a::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  bottom: 0%;
  background-color: var(--main-text-color);
  height: 1px;
  transition: var(--main-transition);
  left: -100%;
}
.InstructorSettingPage .setting-name li a.active::before {
  left: 15%;
}
.InstructorProfile {
  position: relative;
  padding-top: calc(var(--main-padding-top) / 4);
  padding-bottom: var(--main-padding-bottom);
}
.InstructorProfile .box:not(:first-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.InstructorProfile .box {
  padding: 20px;
}
.InstructorProfile .box:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
}
.InstructorProfile .box h5 {
  font-size: 18px;
  width: 30%;
  color: var(--main-color);
  font-weight: 600;
  letter-spacing: 1.1px;
  opacity: 0.7;
}
.InstructorProfile .box:first-child h5 {
  margin-bottom: 20px;
  font-weight: 800;
}
.InstructorProfile .box input {
  width: 100%;
  padding: 10px 20px;
  border-radius: var(--main-border-radius);
  border: none;
  cursor: default;
  background-color: var(--white-color);
  color: var(--main-text-color);
}

.InstructorProfile .box input[type="button"] {
  background-color: var(--main-color);
  width: fit-content;
  color: #fff;
  display: flex;
  margin: 0 0 0 auto;
  cursor: pointer;
}
@media (max-width: 767px) {
  .InstructorProfile .box {
    text-align: center;
    flex-direction: column;
    gap: 10px !important;
  }

  .InstructorProfile .box h5 {
    width: 100%;
    margin-bottom: 5px;
  }
  .InstructorProfile .box input {
    text-align: center;
  }
}
