/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Update Video
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.EditVideo {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.EditVideo .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.EditVideo .card {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}
.EditVideo .card .data {
  position: relative;
  width: 100%;
  background-color: var(--white-color);
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EditVideo .card .data i:hover {
  color: var(--blue-color);
  transition: var(--main-transition);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Update  Video card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/

.EditVideo .container .input-card {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}
.EditVideo .container .input-card input,
.EditVideo .container .input-card textarea {
  position: relative;
  width: 100%;
  background-color: var(--white-color);
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
}
.EditVideo .container .input-card textarea {
  resize: none;
  width: 100%;
}
.EditVideo .container .input-card input[type="text"] ~ label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 1;
  padding: 5px;
  color: var(--main-text-color);
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
  font-size: 18px;
}
.EditVideo .container .input-card input[type="text"]:focus ~ label,
.EditVideo
  .container
  .input-card
  input[type="text"]:not(:placeholder-shown)
  ~ label {
  top: 0;
  color: var(--blue-color);
  font-weight: bold;
}
.EditVideo .container .input-card:last-child {
  display: flex;
  gap: 5px;
}
.EditVideo .container .input-card button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  color: var(--blue-color);
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
