/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Friends call 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.video-container {
  position: relative;
  width: 100%;
  background-color: #191b28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  height: 100vh;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Friends call card form
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ChannelForm {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.ChannelForm .card {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-color);
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
  padding: 20px;
  animation: pop-up 1.5s alternate;
}
@keyframes pop-up {
  from {
    transform: scale(0, 0);
    transform-origin: center center;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
.ChannelForm .card:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
}
.ChannelForm .card input {
  background-color: var(--grey-alt-color);
  padding: 12px 8px;
  transition: var(--main-transition);
  border: 0;
  color: var(--white-color);
  border-radius: var(--main-border-radius);
}
.ChannelForm .card p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
  margin-bottom: 10px;
  color: var(--black-color);
}
.ChannelForm .card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.ChannelForm .card form .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #0f0092;
  color: #fff;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  border: 0;
}
.ChannelForm .card form .submit-btn:hover {
  background-color: #07013d;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Friends call random-channal
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ChannelForm .random-channal,
.ChannelForm .card .random-channal .data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.ChannelForm .random-channal h5 {
  font-size: 18px;
  color: var(--red-color);
  letter-spacing: 2px;
}
.ChannelForm .card .random-channal .data {
  flex-direction: row;
  gap: 15px;
  text-align: center;
}
.ChannelForm .card .random-channal .data p {
  width: 100%;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1;
}
.ChannelForm .card .random-channal .CopyToClipboard {
  cursor: pointer;
  transition: var(--main-transition);
  color: var(--black-color);
}
.ChannelForm .card .random-channal .CopyToClipboard:hover {
  color: var(--red-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Friends call controllers
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.video-container .controls {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  height: 10vh;
  background-color: #1c1e2e;
}
.video-container .controls i {
  background-color: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 15px;
  color: #fff;
  cursor: pointer;
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
  font-size: 18px;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  .video-container .controls i span {
    display: none;
  }
}
.video-container .controls i span {
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.video-container .controls i.yes {
  background-color: #1078f9;
}
.video-container .controls i.no {
  background-color: #232736;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Friends call video container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.videos {
  position: relative;
  height: 90vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 0 10px 10px;
  border-bottom: 0.1px solid #2c2c4e;
}

.videos .other-users {
  padding: 10px 5px;
  position: relative;
  width: 250px;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1c1e2e;
  border-bottom: 0.1px solid #2c2c4e;
  border-left: 0.1px solid #2c2c4e;
}

.videos .other-users::-webkit-scrollbar-track,
.videos .other-users::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.videos .vid {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  background-color: #000;
}
.videos .other-users .vid {
  width: 100%;
  min-height: 150px;
  max-height: 151px;
  border-radius: var(--main-border-radius);
}
@media (max-width: 992px) {
  .videos {
    flex-direction: column;
    padding: 10px 10px 0 10px;
  }
  .videos .other-users {
    width: 100%;
    height: 250px;
    overflow: hidden;
    overflow-x: scroll;
    flex-direction: row;
    border-left: 0;
    border-top: 0.1px solid #2c2c4e;
  }
  .videos .other-users .vid {
    min-width: 150px;
  }
}
