/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student  home page Student stuff
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.our-stuff {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.our-stuff .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.our-stuff .container .card {
  position: relative;
  background-color: transparent;
  text-align: center;
  border-radius: calc(var(--main-border-radius));
  z-index: 2;
  cursor: pointer;
}
.our-stuff .container .card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  background-color: var(--white-color);
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: calc(var(--main-border-radius));
}
.our-stuff .container .card::after {
  position: absolute;
  content: "";
  width: 0;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.112);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: var(--main-transition);
  border-radius: calc(var(--main-border-radius));
}
.our-stuff .container .card:hover::after {
  width: 100%;
}
.our-stuff .container .card .img-container {
  width: 150px;
  height: 150px;
  margin-left: 15px;
  border: 15px solid var(--main-background-color);
  border-radius: 50%;
}
.our-stuff .container .card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: var(--main-transition);
}

.our-stuff .container .card:hover img {
  filter: grayscale(100%);
  transform: rotate(5deg) scale(1.1);
}
.our-stuff .container .card .number-courses p {
  padding: 8px 20px;
  background-color: var(--red-color);
  width: fit-content;
  margin: 20px auto;
  color: #fff;
  border-radius: var(--main-border-radius);
}
.our-stuff .container .card h1 {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--dark-blue);
}
@media (max-width: 767px) {
  .our-stuff .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
    gap: 10px;
  }
  .our-stuff .container .card h1 {
    font-size: 18px;
  }
}
