/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../.././../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Stats
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.stats {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--white-color);
}

.stats .container {
  position: relative;
  align-items: center;
  display: flex;
  gap: 10px;
}
.stats .container .right,
.stats .container .left {
  width: 100%;
}
.stats .container .left img {
  max-width: 100%;
}

.stats .container .right .stats-box {
  padding: 22px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #e4e4e4;
}
.stats .container .right .stats-box span {
  font-size: 40px;
  color: var(--purple-color);
  font-weight: bold;
}
.stats .container .right .stats-box p {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 5px;
}
@media (max-width: 776px) {
  .stats .container {
    flex-direction: column;
  }
}
