/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");

.dots {
  position: absolute;
  width: 204px;
  height: 186px;
  background-image: url("../../../img/dots.png");
  background-repeat: no-repeat;
  opacity: .5;
}
.dots.top {
  top: 50px;
  left: 10px;
}
.dots.bottom {
  bottom: 50px;
  right: 10px;
}

@media (max-width: 992px) {
  .dots {
    width: 150px;
    height: 140px;
  }
}
