/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import "../../../css/root.css";
html {
  scroll-behavior: smooth;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library head-Section
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Library .head-Section {
  position: relative;
  height: calc(100vh - 62px);
  width: 100%;
  background-color: var(--main-page-color);
  overflow: hidden;
}
.Library .head-Section::before {
  position: absolute;
  content: "";
  width: 25%;
  height: 100%;
  background-color: var(--orange-color);
  top: 0;
  left: 0;
  z-index: 2;
  transition: var(--main-transition);
  transform: skewX(-45deg);
  transform-origin: top left;
}
.Library .head-Section::after {
  position: absolute;
  content: "";
  width: 25%;
  height: 100%;
  background-color: var(--orange-color);
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: var(--main-transition);
  transform: skewX(-45deg);
  transform-origin: bottom left;
}
.Library .head-Section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 3;
}
.Library .head-Section .container h3 {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}
.Library .head-Section .container h3 span {
  color: var(--orange-color);
}

.Library .head-Section .container h5 {
  letter-spacing: 3px;
  color: #eee;
  font-size: 18px;
}
.Library .head-Section .container .search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.Library .head-Section .container .input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: var(--main-transition);
  background-color: var(--orange-color);
  padding-right: 40px;
  color: #fff;
}
.Library .head-Section .container .input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.Library .head-Section .container .btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.Library .head-Section .container .btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.Library .head-Section .container .input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
@media (max-width: 772px) {
  .Library .head-Section .container h3 {
    font-size: 28px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library Content
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Library .content {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.Library .content .books {
  padding: 30px 0;
}
.Library .content .books .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
@media (max-width: 776px) {
  .Library .content .books .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library book
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Library .content .container .book {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
  font-weight: 400;
  color: #2b2b2b;
  transform-style: preserve-3d;
  transition: var(--main-transition);
  box-shadow: 13px 13px 12px 0px var(--white-color);
  cursor: pointer;
}

.Library .content .container .book:hover {
  transform: rotate3d(0, 1, 0, 35deg);
}
.Library .content .container .front {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transition: var(--main-transition);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}
.Library .content .container .book .front > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
}
.Library .content .container .book .front > div,
.Library .content .container .book .left-side {
  position: absolute;
  width: 100%;
  height: 100%;
}
.Library .content .container .book .front > div {
  position: relative;
  width: 100%;
  height: 300px;
}
.Library .content .container .book .front img {
  width: 100%;
  height: 100%;
}
.Library .content .container .book .left-side {
  top: 0;
  width: 40px;
  height: 100%;
  left: -20px;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
  transform: rotate3d(0, 1, 0, -90deg);
  color: #010101;
}

.Library .content .container .book .left-side h2 {
  position: absolute;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  top: 0px;
  writing-mode: vertical-lr;
  padding: 20px;
  transform: rotate(180deg);
  font-weight: bold;
  overflow: hidden;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library book details
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.book-details {
  position: relative;
  width: 100%;
  padding: 30px 0;
}
.book-details .container {
  display: flex;
  gap: 20px;
}
@media (max-width: 776px) {
  .book-details .container {
    flex-direction: column;
  }
}
.book-details .container .icon {
  display: flex;
  gap: 20px;
}
.book-details .container .left {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-details .container .left .img-container {
  display: flex;
  gap: 10px;
}
.book-details .container i {
  font-size: 25px;
  color: var(--purple-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.book-details .container i:hover {
  color: var(--orange-color);
}
.book-details .container .left .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-details .container .left .info h1 {
  font-size: 18px;
  color: var(--purple-color);
}
.book-details .container .left .info h3 {
  color: var(--orange-color);
}
.book-details .container .left .info h4 {
  color: var(--purple-color);
}
.book-details .container .left .info a button {
  display: block;
  width: 100%;
}
.book-details .container .right {
  height: 100%;
  position: relative;
}
.book-details .container .right p {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: justify;
}
