/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Summary Center
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SummaryCenter {
  position: relative;
  width: 100%;
}
.SummaryCenter .menu {
  position: relative;
  width: 100%;
}
.SummaryCenter .menu ul {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--main-text-color);
}
.SummaryCenter .menu ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 18px;
  transition: var(--main-transition);
  overflow: hidden;
}
.SummaryCenter .menu ul li a.active {
  color: var(--main-color);
}
.SummaryCenter .menu ul li a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  bottom: 0px;
  left: -100%;
  transition: var(--main-transition);
  z-index: 3;
}
.SummaryCenter .menu ul li a.active::before {
  left: 0;
}
