/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# slider_Setting Home page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.slider_Setting {
  height: calc(100vh - 50px);
  position: relative;
}
.slider_Setting div {
  display: flex;
  height: 100%;
  width: 100%;
}

.awssld__content {
  background-color: var(--main-page-color) !important;
  position: relative;
  background: radial-gradient(
      circle,
      transparent 20%,
      var(--main-page-color) 20%,
      var(--main-page-color) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--main-page-color) 20%,
        var(--main-page-color) 80%,
        transparent 80%,
        transparent
      )
      87.5px 87.5px,
    linear-gradient(#31676b79 7px, transparent 7px) 0 -3.5px,
    linear-gradient(90deg, #31676b79 7px, var(--main-page-color) 7px) -3.5px 0;
  background-size: 175px 175px, 175px 175px, 87.5px 87.5px, 87.5px 87.5px;
}
.awssld__content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../../../../img/slider/shape1.png");
  background-repeat: no-repeat;
  bottom: 0px;
  left: 10px;
  transform: rotate(-10deg) translate(-200px, 45%);
  transition: var(--main-transition);
}
.awssld__content::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  border: 5px solid #ff6752;
  border-radius: 50%;
  top: 50px;
  right: 50px;
  animation: spin-x 10s infinite cubic-bezier(0.8, 0, 0.2, 1);
}
@keyframes spin-x {
  50% {
    transform: rotatey(180deg) rotate(-8deg);
  }
  100% {
    transform: rotatey(360deg) rotate(-8deg);
  }
}
.awssld__content .awssld__timer.awssld__timer--run {
  --timer-background-color: transparent !important;
}
.slider_Setting .right-content {
  position: relative;
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slider_Setting .right-content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../../../../img/slider/blob-WEB.svg");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0px;
  transform: scale(1.4);
  transition: var(--main-transition);
}
.slider_Setting .right-content img {
  max-width: 100%;
  max-height: 100%;
  transform: translateY(170px) scale(1.3);
  position: relative;
}
.slider_Setting div .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  flex-basis: 50%;
  position: relative;
  z-index: 999;
  perspective: 1000px;
}
.slider_Setting div .left-content::before {
  position: absolute;
  content: "";
  background-image: url("../../../../img/slider/shape1.png");
  background-color: transparent;
  width: 350px;
  height: 150px;
  left: -5%;
  background-repeat: no-repeat;
  top: 10px;
  transform-style: preserve-3d;
  transform: rotate(-8deg);
  background-size: 350px;
  animation: spin-y 6s infinite cubic-bezier(0.8, 0, 0.2, 1);
  transform-origin: center center;
}
@keyframes spin-y {
  50% {
    transform: rotateX(180deg) rotate(-8deg);
  }
  100% {
    transform: rotateX(360deg) rotate(-8deg);
  }
}
.slider_Setting div .left-content .left-content-titel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}
.slider_Setting div .left-content .left-content-titel > p {
  color: #eee;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.slider_Setting div .left-content .left-content-titel h1 {
  font-size: 50px;
  color: #fff;
  margin: 0;
  text-transform: capitalize;
}
.slider_Setting div .left-content .left-content-titel h1 p {
  color: var(--red-color);
  font-size: 50px;
  display: inline;
  margin: 0;
  text-transform: capitalize;
}
.slider_Setting div .left-content div p {
  color: #bdbdbd;
  font-weight: bold;
}
.awssld__bullets {
  bottom: 15px !important;
  z-index: 999;
}
.awssld__bullets--loading,
.awssld__bullets--active {
  background-color: var(--red-color) !important;
}
@media (max-width: 992px) {
  .slider_Setting div {
    flex-direction: column;
  }
  .slider_Setting .right-content,
  .slider_Setting div .left-content {
    max-width: 100%;
    flex-basis: 100%;
  }
  .slider_Setting .right-content {
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
  }
  .slider_Setting .right-content::before {
    background-image: url("../../../../img/slider/blob-mobile.svg");
    background-repeat: no-repeat;
  }
  .slider_Setting .right-content img {
    transform: scale(1);
  }

  .slider_Setting div .left-content .left-content-titel h1 p,
  .slider_Setting div .left-content .left-content-titel h1 {
    font-size: 30px;
  }
  .awssld__content::after {
    width: 50px;
    height: 50px;
    top: 1%;
    right: 1%;
  }
}
