/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
.Admin {
  position: relative;
  background-color: var(--main-background-color);
  width: 100%;
  min-height: 100vh;
  transition: var(--main-transition);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Admin-pages-container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Admin-pages-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# admin Home page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.AdminHome {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
@media (max-width: 992px) {
  .AdminHome {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Custom Input Field
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomInputField {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.CustomInputField label {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--grey-color);
  font-size: 14px;
  width: auto;
  z-index: 2;
  left: 15px;
  margin-bottom: 15px;
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
}
.CustomInputField label::before {
  position: absolute;
  content: ":";
  right: 0;
  font-size: 20px;
}
.CustomInputField input {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 0px 8px 150px;
  border-radius: var(--main-border-radius);
  border: 2px solid #eee;
}
@media (max-width: 992px) {
  .CustomInputField {
    display: flex;
    flex-direction: column;
  }
  .CustomInputField input {
    padding: 8px 15px;
    text-align: left;
  }
  .CustomInputField label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .CustomInputField label::before {
    content: "";
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# CustomTable
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomTable table {
  position: relative;
  margin: 20px auto;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-spacing: 1;
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--black-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# CustomTable see more
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomTable .See-More {
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}
.CustomTable .See-More button {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 4px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 18px;
  border-radius: var(--main-border-radius);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# CustomTable table th , td
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomTable table th i {
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  transition: var(--main-transition);
}
.CustomTable table th i:hover {
  color: var(--blue-color);
}
.CustomTable table th,
.CustomTable table td {
  text-align: left;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
  padding: 10px;
}
.CustomTable table td img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.CustomTable table th {
  position: relative;
  font-size: 18px;
  color: var(--black-color);
  line-height: 1.2;
  font-weight: unset;
  height: 40px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# CustomTable options
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.CustomTable table tr .Options {
  display: flex;
  gap: 5px;
}
.CustomTable table tr .Options a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
  width: 35px;
  height: 35px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  font-size: 18px;
}
.CustomTable table tr .Options a:hover {
  color: var(--red-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Custom Table  Screen Media
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@media (max-width: 992px) {
  /*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
   # CustomTable  thead remove
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
  .CustomTable table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
   # Custom Table   table th , td
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
  .CustomTable table tr {
    position: relative;
    width: 100%;
    display: grid;
  }
  .CustomTable table td {
    display: block;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .CustomTable table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--grey-color);
  }
}
