/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# DeleteInquiries
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.DeleteInquiries {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.DeleteInquiries .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.DeleteInquiries .card {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}
.DeleteInquiries .card .data {
  position: relative;
  width: 100%;
  background-color: var(--white-color);
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--black-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.DeleteInquiries .card .data p {
  position: relative;
  width: 100%;
  color: var(--black-color);
  transition: var(--main-transition);
  font-size: 16px;
  text-align: right;
  border-bottom: 1px solid var(--black-color);
  padding: 10px 0;
}
.DeleteInquiries .card .data span {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: var(--black-color);
  transition: var(--main-transition);
  font-size: 14px;
  text-align: right;
  padding: 10px 0;
}
.DeleteInquiries .card .data span i {
  color: var(--blue-color);
  transition: var(--main-transition);
}
.DeleteInquiries .card .data span i:hover {
  color: var(--red-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# No Inquiries
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.No_Inquiries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.No_Inquiries .NoInquirieslayer {
  width: 350px;
  height: 350px;
}
.No_Inquiries p {
  font-size: 18px;
  font-weight: bold;
}
