/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Delete DeleteInquiries
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.DeleteInquiries {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  min-height: 60vh;
}
.DeleteInquiries .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.DeleteInquiries .card {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}
.DeleteInquiries .card .data {
  position: relative;
  width: 100%;
  background-color: var(--white-color);
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.DeleteInquiries .card .data h4 {
  position: relative;
  padding: 5px 0;
}
.DeleteInquiries .card .data p {
  position: relative;
  width: 100%;
  color: var(--main-text-color);
  transition: var(--main-transition);
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid var(--main-text-color);
  padding: 10px 0;
  font-weight: bold;
}
.DeleteInquiries .card .data span {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  color: var(--main-text-color);
  transition: var(--main-transition);
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
}
.DeleteInquiries .card .data > span i {
  color: var(--orange-color);
  transition: var(--main-transition);
}
.DeleteInquiries .card .data > span i:hover {
  color: var(--main-color);
}
.DeleteInquiries .card .data .titleInqu span i {
  color: var(--green-color);
  font-size: 14px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Delete Inquiries Action
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Inquiries_Actions {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.Inquiries_Actions .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.Inquiries_Actions .container button {
  position: relative;
  padding: 8px 12px;
  min-width: 80px;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--main-color);
  transition: var(--main-transition);
  cursor: pointer;
  border-radius: var(--main-border-radius);
}
.Inquiries_Actions .container button:hover {
  background-color: var(--main-color-hover);
}
.Inquiries_Actions .container button.active {
  background-color: #888;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# No Ianquiries
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.No_Inquiries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.No_Inquiries .NoInquirieslayer {
  width: 250px;
  height: 250px;
  max-width: 100%;
}
.No_Inquiries p {
  font-size: 18px;
  font-weight: bold;
}
