/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import "../../../css/root.css";
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# quiz
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.quiz {
  position: relative;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Quiz data header top data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Quiz-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.quiz .container .Quiz-data > h1 {
  color: var(--main-color);
}
.quiz .container .Quiz-data > h1::before {
  background-color: var(--main-color);
}
.quiz .container .Quiz-data > h1::after {
  background-color: #fff;
}
.quiz .container .Quiz-data > h1 + p {
  position: relative;
  background-color: #e7e7e7;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 50%;
  font-size: 30px;
}
@media (max-width: 776px) {
  .quiz .container .Quiz-data > h1 + p {
    font-size: 25px;
  }
}
.quiz .quiz-container .quiz-text h4 {
  position: relative;
  font-size: 30px;
  padding: 0 20px 0 0;
  width: fit-content;
  margin: 10px auto;
  color: var(--purple-color);
}
@media (max-width: 776px) {
  .quiz .quiz-container .quiz-text h4 {
    font-size: 25px;
    text-align: center;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Quiz data Options
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.quiz .quiz-container .quiz-options .option {
  counter-increment: section;
}
.quiz .quiz-container .quiz-options .option input[type="radio"] {
  display: none;
  appearance: none;
}
.quiz .quiz-container .quiz-options .option input[type="radio"] + label {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  background-color: #ffff;
  border: 4px solid var(--main-background-color);
  outline: 3px solid #fff;
  border-radius: 2px;
  transition: var(--main-transition);
  letter-spacing: 1px;
  color: var(--purple-color);
}
@media (max-width: 776px) {
  .quiz .quiz-container .quiz-options .option input[type="radio"] + label {
    margin-top: 10px;
  }
}
.quiz
  .quiz-container
  .quiz-options
  .option
  input[type="radio"]
  + label::before {
  position: absolute;
  height: 100%;
  content: counter(section);
  width: 100%;
  left: 15px;
  color: var(--main-color);
}
.quiz .quiz-container .quiz-options .option input[type="radio"]:checked + label,
.quiz .quiz-container .quiz-options .option input[type="radio"] + label:hover {
  background-color: var(--main-color);
  outline: 3px solid var(--main-color);
  color: #fff;
}
.quiz
  .quiz-container
  .quiz-options
  .option
  input[type="radio"]
  + label:hover::before,
.quiz
  .quiz-container
  .quiz-options
  .option
  input[type="radio"]:checked
  + label::before {
  color: #fff;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Quiz Footer data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.quiz .container .quiz-footer button {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  display: block;
  padding: 10px 8px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: var(--main-border-radius);
  border: 0;
  cursor: pointer;
  transition: var(--main-transition);
}
.quiz .container .quiz-footer button:hover {
  background-color: var(--purple-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Quiz result container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.result-container .box {
  width: 100%;
  position: relative;
  margin-top: 20px;
  border: 3px solid #eee;
  padding: 20px;
}
.result-container .box .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-container .box .data span {
  font-weight: bold;
  margin-bottom: 10px;
}
.result-container .box .data span:first-child {
  padding: 0 10px;
}
.result-container .box .progress {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 5px;
  margin: 3px 0px 20px 0;
}
.result-container .box .progress > span {
  position: absolute;
  transition: var(--main-transition);
  top: 0;
  left: 0;
  height: 100%;
}
.result-container .box .progress > span::before {
  position: absolute;
  padding: 3px 8px;
  content: attr(data-width);
  top: 0;
  right: -20px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 14px;
}
.result-container .box .progress > span.true {
  background-color: var(--green-color);
}
.result-container .box .progress > span.true::before {
  background-color: var(--green-color);
}

.result-container .box .progress > span.false {
  background-color: var(--red-color);
}
.result-container .box .progress > span.false::before {
  background-color: var(--red-color);
}

.result-container .box .progress > span.total {
  background-color: var(--main-color);
}
.result-container .box .progress > span.total::before {
  background-color: var(--main-color);
}
