/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.box-card-Admin {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 20px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.box-card-Admin .playerData {
  width: 100%;
  height: 150px;
}
.box-card-Admin h5 {
  position: relative;
  width: 100%;
  color: var(--main-text-color);
  transition: var(--main-transition);
  font-size: 16px;
  text-align: right;
  padding: 10px 0;
  text-align: center;
}
