/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# exams
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.addQu,
.editExam,
.exams {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.editExam .container,
.exams .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.editExam .container .editExam-card,
.exams .container .exam-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  border-radius: var(--main-border-radius);
  padding: 15px;
  overflow: hidden;
}
.editExam .container .editExam-card .ExamPlayer,
.exams .container .exam-card .ExamPlayer {
  max-width: 100%;
  height: 150px;
}
.exams .container .exam-card .examName {
  color: var(--blue-color);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.exams .container .exam-card .status {
  width: 100%;
  padding: 5px;
}
.exams .container .exam-card .status span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.exams .container .exam-card .status span .RunningExam {
  color: var(--green-color);
}
.exams .container .exam-card .status span .endedExam {
  color: var(--red-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# No Exams
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.No_Exams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.No_Exams .NoExamPlayer {
  width: 350px;
  height: 350px;
}
.No_Exams p {
  font-size: 18px;
  font-weight: bold;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# New Exam
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.newExam {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# New Exam inputs
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.newExam .input-field {
  position: relative;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 85px;
}

.newExam .input-field input {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 0.5px solid var(--main-text-color);
  padding: 10px;
  color: var(--main-text-color);
  transition: var(--main-transition);
}
.newExam .input-field label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  padding: 10px;
  color: var(--main-text-color);
  transition: var(--main-transition);
  letter-spacing: 5px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# New Exam input text field only
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.newExam .input-field input[type="text"] ~ label {
  padding: 0 0 0 10px;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 2;
  transition: var(--main-transition);
}

.newExam .input-field input:focus {
  border-bottom: 1px solid var(--blue-color);
}
.newExam .input-field input:focus ~ label,
.newExam .input-field input:not(:placeholder-shown) ~ label {
  top: 0px;
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# New Exam input Create Exam
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.newExam .input-field .CreateExam {
  width: fit-content;
  margin-left: auto;
  padding: 5px 14px;
  border: 1px solid var(--green-color);
  color: var(--main-text-color);
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}
.newExam .input-field .CreateExam:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# edit Exam
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.editExam .container .editExam-card p {
  color: var(--white-color);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: var(--main-transition);
}
.editExam .container .editExam-card:hover p {
  color: var(--blue-color);
}
.editExam .container .editExam-card.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# edit Exam card filp
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.editExam .container .editExam-card input[type="file"] {
  display: none;
}
.editExam .container .editExam-card.flip {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transition: var(--main-transition);
  transform-origin: center center;
  width: 100%;
  height: 100%;
  overflow: visible;
  height: 250px;
}
.editExam .container .editExam-card.flip .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  backface-visibility: hidden;
  border-radius: var(--main-border-radius);
}
.editExam .container .editExam-card.flip .back {
  transform: rotateY(-180deg);
  background-color: black;
}
.editExam .container .editExam-card.flip.active {
  transform: rotateY(180deg);
}
.editExam .container .editExam-card.flip .back .uploadFileBTN {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border-radius: var(--main-border-radius);
  color: var(--blue-color);
  border: 0;
}
.editExam
  .container
  .editExam-card.flip
  .back
  .uploadFileBTN
  .uploadFileBTNplayer {
  max-width: 100%;
  height: 50px;
}
.editExam .container .editExam-card.flip .back .progressbar {
  position: relative;
  width: 250px;
  background-color: #eee;
  height: 25px;
  border-radius: 25px;
  overflow: hidden;
}
.editExam .container .editExam-card.flip .back .progressbar .progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-color);
  height: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# addQu
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.addQu {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  width: 100%;
}
.addQu .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.addQu .card {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
  z-index: 1;
}
.addQu .card.dropDownCard {
  position: relative;
  z-index: 2;
}
.addQu .card .input-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: transparent;
  border-top: 0;
  background-color: var(--white-color);
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}
.addQu .card .input-field input {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--main-text-color);
}
.addQu .card .input-field input ~ label {
  position: absolute;
  top: 10%;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--main-text-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.addQu .card .input-field input:not(:placeholder-shown) ~ label,
.addQu .card .input-field input:focus ~ label {
  top: -20px;
  color: var(--blue-color);
}
.addQu .card .input-field input:focus {
  border-color: var(--blue-color);
}
.addQu .card .input-field .addQuBtn {
  position: relative;
  z-index: 2;
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  transition: var(--main-transition);
  color: var(--main-text-color);
}
.addQu .card .input-field .addQuBtn:hover {
  color: var(--blue-color);
}
.addQu .card .input-field label {
  color: var(--main-text-color);
  transition: var(--main-text-color);
  width: 100%;
}
.addQu .card .input-field .SubmitBun {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 100%;
  padding: 8px 8px;
  border: 0;
  cursor: pointer;
  color: var(--main-text-color);
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
}
.addQu .card .input-field .SubmitBun:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# addQu Options
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.addQu .card .input-field .Dropdown-root {
  position: relative;
  width: 100%;
}
.addQu .card .input-field .Dropdown-root .Dropdown-control {
  background-color: var(--white-color);
  color: var(--main-text-color);
  border: 0;
  cursor: pointer;
}
.addQu .card .input-field .Dropdown-root .Dropdown-menu {
  background-color: var(--grey-color);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  transition: var(--main-transition);
}
.addQu .card .input-field .Dropdown-root .Dropdown-menu .Dropdown-option {
  color: var(--white-color);
}
.addQu
  .card
  .input-field
  .Dropdown-root
  .Dropdown-menu
  .Dropdown-option.is-selected {
  background-color: var(--blue-color);
}
.addQu .card .input-field .Dropdown-root .Dropdown-menu .Dropdown-option:hover {
  background-color: var(--main-overlay);
  color: var(--blue-color);
  transition: var(--main-transition);
}
