/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Notes
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.notes {
  position: relative;
  width: 100%;
  min-height: 62vh;
  overflow: hidden;
}
.notes .container {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Notes search
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.search-handelar {
  position: relative;
  height: auto;
  padding-top: var(--main-padding-top);
}
.search-handelar .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 772px) {
  .search-handelar {
    flex-direction: column;
  }
}
.search-handelar .card {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}

.search-handelar .card input {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
}

.search-handelar .card input[type="Search"] ~ label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  z-index: 1;
  padding: 5px;
  color: var(--main-text-color);
  transition: var(--main-transition);
  border-radius: var(--main-border-radius);
  font-size: 18px;
}
.search-handelar .card input[type="Search"]:focus ~ label,
.search-handelar .card input[type="Search"]:not(:placeholder-shown) ~ label {
  top: 0;
  color: var(--main-color);
  font-weight: bold;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Notes container add note
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.notes .note-card {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  background-color: #b8d8d8;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}

.notes .note-card textarea {
  position: relative;
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: var(--main-border-radius);
  outline: none;
  border: 0;
  padding: 10px;
  caret-color: #506568;
  font-size: 18px;
  background-color: transparent;
  color: #506568;
  font-weight: 600px;
  line-height: 1.7;
  white-space: pre-wrap;
}
.notes .note-card textarea::placeholder {
  color: #fff;
}
.notes .note-card textarea:focus {
  outline: none;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Notes container Card Footer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.notes .note-card .note-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  min-height: 30px;
  height: auto;
}
.notes .note-card .note-footer input {
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  border: 0;
  padding: 8px 5px;
  font-size: 14px;
  color: var(--main-text-color);
  transition: var(--main-transition);
}
.notes .note-card .note-footer input::placeholder {
  color: var(--main-text-color);
}
.notes .note-card .note-footer button {
  padding: 5px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  border: none;
  cursor: pointer;
  height: 100%;
  transition: var(--main-transition);
}
.notes .note-card .note-footer button:hover {
  background-color: var(--main-color);
  color: #fff;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Notes container note style
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.notes .card-box-shadow {
  position: relative;
  width: 100%;
}
.notes .card-box-shadow::before {
  position: absolute;
  content: "";
  background-image: url("../../../img/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  display: block;
  left: -12%;
  right: 0;
  top: 0;
  z-index: 0;
}

.notes .card-box-shadow .card {
  position: relative;
  width: 100%;
  padding: 20px;
  min-height: 350px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  color: #252422;
  position: relative;
  z-index: 1;
}

.notes .card-box-shadow .card[data-color="0"] {
  background: #b8d8d8;
}
.notes .card-box-shadow .card[data-color="0"] .description {
  color: #506568;
}

.notes .card-box-shadow .card[data-color="1"] {
  background: #d5e5a3;
}
.notes .card-box-shadow .card[data-color="1"] .description {
  color: #60773d;
}

.notes .card-box-shadow .card[data-color="2"] {
  background: #ffe28c;
}
.notes .card-box-shadow .card[data-color="2"] .description {
  color: #b25825;
}

.notes .card-box-shadow .card[data-color="3"] {
  background: #d6c1ab;
}
.notes .card-box-shadow .card[data-color="3"] .description {
  color: #75442e;
}

.notes .card-box-shadow .card[data-color="4"] {
  background: #baa9ba;
}
.notes .card-box-shadow .card[data-color="4"] .description {
  color: #3a283d;
}

.notes .card-box-shadow .card[data-color="5"] {
  background: #ff8f5e;
}
.notes .card-box-shadow .card[data-color="5"] .description {
  color: #772510;
}

.notes .card-box-shadow .card .description {
  position: relative;
  font-size: 16px;
  text-align: center;
}

.notes .card-box-shadow .card .actions {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.notes .card-box-shadow .card .actions i {
  position: relative;
  color: #fff;
  min-width: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--main-transition);
  background-color: var(--red-color);
  opacity: 0.5;
}
.notes .card-box-shadow .card .actions i:hover {
  opacity: 1;
}

.notes .card-box-shadow .card .title {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  padding: 50px 0;
}
