/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame {
  position: relative;
  padding: 0 0 20px 0;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game container h1
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame .container h1 {
  color: var(--main-color);
}
.MemoryGame .container h1::before {
  background-color: var(--main-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game Game-container 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame .MemoryGame-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .MemoryGame .MemoryGame-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame .MemoryGame-container .CardBlur {
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  backdrop-filter: none;
  height: 150px;
  animation: HideCard 5s ease-in-out;
}
@keyframes HideCard {
  from {
    transform: rotateY(-180deg);
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game card back and front
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame .MemoryGame-container .CardBlur .front,
.MemoryGame .MemoryGame-container .CardBlur .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--purple-color);
  top: 0;
  left: 0;
  border-radius: var(--main-border-radius);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.MemoryGame .MemoryGame-container .CardBlur .back {
  transform: rotateY(180deg);
  background-color: var(--main-color);
}
.MemoryGame .MemoryGame-container .CardBlur .back i {
  font-size: 90px;
  color: #ffff;
}
@media (max-width: 767px) {
  .MemoryGame .MemoryGame-container .CardBlur .back i {
    font-size: 60px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game card Status
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame .MemoryGame-container .CardBlur.active {
  transform: rotateY(-180deg);
  outline: 3px solid var(--main-color);
}
.MemoryGame .MemoryGame-container .CardBlur.correct {
  transform: rotateY(-180deg);
  outline: 3px solid var(--green-color);
}
.MemoryGame .MemoryGame-container .CardBlur.correct .back {
  background-color: var(--green-color);
}
.MemoryGame .MemoryGame-container .CardBlur.wrong {
  transform: rotateY(-180deg);
  outline: 3px solid var(--red-color);
}
.MemoryGame .MemoryGame-container .CardBlur.wrong .back {
  background-color: var(--red-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Memory Game 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.MemoryGame .container .Reset-Game {
  position: relative;
  padding: 8px 12px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: var(--main-border-radius);
  border: 1px solid var(--gey-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.MemoryGame .container .Reset-Game:hover {
  background-color: var(--green-color);
}
