/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# ROOT
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
.box-Shadow {
  box-shadow: 0px 0px 30px rgba(184, 184, 184, 0.3);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Flex
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.display-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-flex {
  flex-direction: column;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Grid
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.disply-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# block
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.display-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Padding
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Margin
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Color
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.color-grey {
  color: var(--grey-color);
}
.color-red {
  color: var(--red-color);
}
.color-green {
  color: var(--green-color);
}
.color-blue {
  color: var(--blue-color);
}
.color-orange {
  color: var(--orange-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# background
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-gray {
  background-color: var(--grey-color);
}
.bg-215 {
  background-color: rgb(215, 215, 215);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# position
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-sticky {
  position: sticky;
  top: 20px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# text
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.txt-center {
  text-align: center;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# font size
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# border radius
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.rd-6 {
  border-radius: 6px;
}
.rd-10 {
  border-radius: 10px;
}
.rd-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# width
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.width-full {
  width: 100%;
}
.width-100 {
  width: 100px;
}
.width-fit {
  width: fit-content;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Height
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.height-full {
  height: 100%;
}
.height-100 {
  height: 100px;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# button
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.main-btn {
  background: rgb(163, 132, 236);
  background: linear-gradient(
    15deg,
    rgba(163, 132, 236, 1) 22%,
    rgba(195, 132, 202, 1) 37%,
    rgba(199, 132, 198, 1) 48%,
    rgba(224, 132, 171, 1) 66%
  );
  color: #fff;
  padding: 10px;
  border-radius: var(--main-border-radius);
  text-align: center;
  border: none;
  cursor: pointer;
}
.main-btn:hover {
  background: var(--red-color);
  box-shadow: 0 4px 30px #0000005a;
  backdrop-filter: blur(50px);
  transition: all 0.3s ease-in-out;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# spritters
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.spritter {
  background-color: #777;
  width: 100%;
  height: 2px;
  border-radius: 2%;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# img
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.img-Small {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.img-medium {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# slider_Setting
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.slider_Setting {
  height: calc(100vh - 55px);
  position: relative;
}
.slider_Setting div {
  display: flex;
  height: 100%;
  width: 100%;
}

.awssld__content {
  background-color: #1b575b !important;
  position: relative;
}
.awssld__content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/slider/blob-WEB.svg");
  left: 0;
  top: 0;
}
.slider_Setting .right-content {
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slider_Setting .right-content img {
  max-width: 100%;
  max-height: 100%;
  transform: translateY(170px) scale(1.3);
  position: relative;
}
.slider_Setting div .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  flex-basis: 50%;
  position: relative;
  z-index: 999;
}
.slider_Setting div .left-content h1 {
  color: var(--red-color);
  font-size: 50px;
}
.awssld__bullets {
  bottom: 15px !important;
  z-index: 999;
}
.awssld__bullets--loading,
.awssld__bullets--active {
  background-color: var(--red-color) !important;
}
@media (max-width: 992px) {
  .slider_Setting div {
    flex-direction: column;
  }
  .slider_Setting .right-content,
  .slider_Setting div .left-content {
    max-width: 100%;
    flex-basis: 100%;
  }
  .slider_Setting .right-content {
    justify-content: flex-end;
    align-items: center;
  }
  .slider_Setting .right-content img {
    transform: scale(1);
  }
  .awssld__content::before {
    background-image: url("../img/slider/blob-mobile.svg");
  }
}
