:root {
  --offwihte: #faf5ec;
  --dark-blue: #19324f;
  --orange-alt: #f59f0b6c;
  --orange-transparent: #f59f0b3c;
  --grey-alt-color: #8b8b8b;
  --main-color: #ff9800;
  --purple-color: #1b575b;
  --main-transition: all 0.5s ease-in-out;
  --main-background-color: #f5f5f5;
  --main-p-color: #777;
  --main-border: 1px solid var(--main-color);
  --main-overlay: rgba(0, 0, 0, 0.7);
  --main-border-radius: 8px;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --ant-primary-color: rgb(255, 81, 0);
  --ant-primary-color-disabled: #ffcda3;
  --ant-primary-color-hover: #ff7429;
  --ant-primary-color-active: #d93d00;
  --ant-primary-color-outline: rgba(255, 81, 0, 0.2);
  --ant-primary-color-deprecated-bg: #fff2e6;
  --ant-primary-color-deprecated-border: #ffb27a;
  --ant-primary-0: #ead38f;
  --ant-primary-1: #fff2e6;
  --ant-primary-2: #ffcda3;
  --ant-primary-3: #ffb27a;
  --ant-primary-4: #ff9452;
  --ant-primary-5: #ff7429;
  --ant-primary-6: #ff5100;
  --ant-primary-7: #d93d00;
  --ant-primary-8: #b32d00;
  --ant-primary-9: #8c1e00;
  --ant-primary-10: #661300;
  --ant-primary-color-deprecated-l-35: rgb(255, 203, 179);
  --ant-primary-color-deprecated-l-20: rgb(255, 151, 102);
  --ant-primary-color-deprecated-t-20: rgb(255, 116, 51);
  --ant-primary-color-deprecated-t-50: rgb(255, 168, 128);
  --ant-primary-color-deprecated-f-12: rgba(255, 81, 0, 0.12);
  --ant-primary-color-active-deprecated-f-30: rgba(255, 242, 230, 0.3);
  --ant-primary-color-active-deprecated-d-02: rgb(255, 237, 220);
  --ant-success-color: rgb(82, 196, 26);
  --ant-success-color-disabled: #d9f7be;
  --ant-success-color-hover: #73d13d;
  --ant-success-color-active: #389e0d;
  --ant-success-color-outline: rgba(82, 196, 26, 0.2);
  --ant-success-color-deprecated-bg: #f6ffed;
  --ant-success-color-deprecated-border: #b7eb8f;
  --ant-warning-color: rgb(250, 173, 20);
  --ant-warning-color-disabled: #fff1b8;
  --ant-warning-color-hover: #ffc53d;
  --ant-warning-color-active: #d48806;
  --ant-warning-color-outline: rgba(250, 173, 20, 0.2);
  --ant-warning-color-deprecated-bg: #fffbe6;
  --ant-warning-color-deprecated-border: #ffe58f;
  --ant-error-color: rgb(245, 34, 45);
  --ant-error-color-disabled: #ffccc7;
  --ant-error-color-hover: #ff4d4f;
  --ant-error-color-active: #cf1322;
  --ant-error-color-outline: rgba(245, 34, 45, 0.2);
  --ant-error-color-deprecated-bg: #fff1f0;
  --ant-error-color-deprecated-border: #ffa39e;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
  --main-page-color: #1b575b;
  --box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  --main-box-shadow: 0px 0px 30px rgba(184, 184, 184, 0.19);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# dots reloader
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.pre-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(290deg, #43b5c1 10%, #000002 69%);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  top: 0;
  left: 0;
}
.pre-loader p {
  color: #f59e0b;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
}

.dots-loader {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.dots-loader div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f59e0b;
  animation: fade 0.8s ease-in-out alternate infinite;
}

.dots-loader div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.dots-loader div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# back-to-top
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.back-to-top {
  position: fixed;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: #19324f;
  z-index: 999;
  color: #fff;
  bottom: 15px;
  right: 15px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# .main-titel-2 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.main-titel-2 {
  position: relative;
  width: fit-content;
  padding: 20px 0;
  color: #111111;
  font-size: 28px;
  margin: 20px;
}

.main-titel-2::before,
.main-titel-2::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}
.main-titel-2::before {
  width: 50%;
  background-color: #111111;
  z-index: 2;
}
.main-titel-2::after {
  width: 100%;
  background-color: #ddd;
  z-index: 1;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# swal2-popup
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.swal2-popup {
  background-color: #111111 !important;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Loding FeachData
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Loding-feachData {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  color: #000;
  margin: 10px auto;
}
.Loding-feachData span {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  transition: var(--main-transition);
}
.Loding-feachData span::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px solid #111111;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 3s ease-in-out infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
