/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("root.css");
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-blue);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px #0bb3f550;
  backdrop-filter: blur(50px);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Not Founded
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NotFounded {
  height: 100vh;
  background-color: var(--main-color);
}
.NotFounded img {
  width: 250px;
  height: 250px;
  max-width: 100%;
}
.NotFounded .text {
  font-size: 20px;
  color: #f5f5f5;
  margin: 20px;
  line-height: 2;
  font-weight: bold;
}
.NotFounded p {
  font-size: 40px;
  line-height: 1.7;
  margin: 10px;
}
.NotFounded a {
  background: linear-gradient(
    97deg,
    rgba(225, 184, 130, 1) 42%,
    rgba(223, 182, 131, 1) 50%,
    rgba(189, 134, 163, 1) 65%
  );
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# spikes
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.spikes {
  position: relative;
}

.spikes::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}
.spikes-rotated {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
  transform: rotate(180deg) translateY(30px);
}
.dots-img {
  position: absolute;
  width: 204px;
  height: 186px;
  background-image: url("../img/dots.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .dots-img {
    width: 100px;
    height: 100px;
  }
}
.dots-img.dots-top {
  left: 0;
  top: 50px;
}
.dots-img.dots-bottom {
  bottom: 50px;
  right: 15px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# main-titel
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.main-titel {
  position: relative;
  text-transform: uppercase;
  color: var(--main-background-color);
  padding: 20px;
  background-color: transparent;
  border-radius: var(--main-border-radius);
  width: fit-content;
  text-align: center;
  margin: 50px auto;
  z-index: 3;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-titel .div-circle {
  position: absolute;
  background-image: url("../img/brush-wrap.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  z-index: -1;
  transition: var(--main-transition);
}

.main-titel .div-circle:first-child {
  top: 0;
  left: 0;
  transform: translate(-5%, -35%) scale(1.2);
}
.main-titel .div-circle:nth-child(2) {
  bottom: 0;
  right: 0;
  transform: translate(50%, 20%) scale(1.2);
  animation-delay: 3s;
}
.main-titel span {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #fff;
}
.main-titel + p {
  text-align: center;
  font-size: 18px;
  width: 50%;
  margin: 0 auto;
  color: #000;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .main-titel {
    font-size: 20px;
  }
  .main-titel + p {
    width: 90%;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .main-titel .div-circle {
    height: 120px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# input General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
input:focus {
  outline: none;
}
input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
textarea:focus {
  outline: none;
}
@media print {
  @page {
    size: landscape;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
  background-color: var(--main-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General elements
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
ul {
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  color: var(--main-p-color);
  line-height: 1.8;
  font-size: 1rem;
  color: #767676;
  font-weight: 400;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# PAge 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.page {
  display: flex;
  min-height: 100vh;
  background-color: #f1f5f9;
  overflow: hidden;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Content 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.content {
  width: 100%;
  position: relative;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# sidebar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.sidebar {
  /*remove it and maket it relative to make it stiky 
  and remove height*/
  position: fixed;
  min-height: 100vh !important;
  /**/
  background-color: #ffffffd0;
  padding: 20px;
  width: 250px;
  z-index: 1000;
  left: -250px;
  transition: var(--main-transition);
  top: 0 !important;
}
.sidebar.open {
  left: 0;
}
.sidebar .bullet {
  position: absolute;
  right: -30px;
  top: 25%;
  width: 30px;
  height: 30px;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.sidebar > h3 {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  color: #000;
}
/*
remove this comment if you want it to be sticy

@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    position: absolute;
    content: "";
    background-color: var(--main-p-color);
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    width: 80%;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    bottom: -29px;
  }
} */

/*
remove this comment if you want it to be sticy 
*/
.sidebar > h3::before,
.sidebar > h3::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}
.sidebar > h3::before {
  width: 80%;
  height: 2px;
  bottom: -20px;
  background-color: #000;
}
.sidebar > h3::after {
  bottom: -29px;
  font-weight: 900;
  content: "\f19d";
  font-family: "Font Awesome 5 Free";
  color: var(--orange-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# sidebar links
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.sidebar ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
  border-radius: var(--main-border-radius);
  padding: 10px;
  transition: var(--main-transition);
  margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: rgba(0, 0, 0, 0.667);
  color: var(--orange-color);
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

/*
remove this comment if you want it to be sticy

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    margin-bottom: 35px;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    letter-spacing: 2px;
  }
  .sidebar ul li a span {
    display: none;
  }
} */
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Content head
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/

.content .head {
  position: relative;
  width: 100%;
  background-color: #1b575b;
  box-shadow: 0 10px 40px #1b575b, 0 0 0 20px transparent;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.content .head .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.content .head .notification {
  position: relative;
}
.content .head .notification::before {
  position: absolute;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 11px;
  top: -6px;
  right: -5px;
}
.content .head .search::before {
  content: "\f002";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray-color);
}
.content .head input {
  padding: 8px 0 8px 50px;
  border: none;
  border-radius: var(--main-border-radius);
  width: 160px;
  transition: var(--main-transition);
}
.content .head input:focus {
  width: 100%;
}
.content .head img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# wrapper 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Landing
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.landing {
  position: relative;
  height: calc(100vh - 61px);
  max-width: 100%;
  overflow: hidden;
}
.landing.home {
  height: 100vh;
}
.landing::before {
  position: absolute;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: right;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  animation: play 7s alternate infinite;
}
@media (min-width: 768px) {
  @keyframes play {
    0% {
      background-image: url("../img/blob/blobweb1.svg");
    }
    50% {
      background-image: url("../img/blob/blobweb2.svg");
    }
    100% {
      background-image: url("../img/blob/blobweb3.svg");
    }
  }
}
@media (max-width: 767px) {
  @keyframes play {
    0% {
      background-image: url("../img/blob/blobmob1.svg");
    }
    50% {
      background-image: url("../img/blob/blobmob2.svg");
    }
    100% {
      background-image: url("../img/blob/blobmob3.svg");
    }
  }
}
.landing .container {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 40px;
}
@media (max-width: 768px) {
  .landing .container {
    flex-direction: column-reverse;
    gap: 0;
  }
}
.landing img {
  max-width: 600px;
}
@media (max-width: 997px) {
  .landing img {
    max-width: 300px;
  }
}
.landing .data h3 {
  text-align: center;
  color: var(--main-color);
  font-size: 45px;
}
.landing .data p {
  line-height: 1.7;
  text-align: center;
  margin: 20px 0;
}
.landing .input {
  flex-wrap: wrap;
}
.landing .input a {
  padding: 5px 30px;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
  background-color: #2c3e50;
  color: #fff;
  border: none;
  opacity: 0.6;
}
.landing .input a:first-child {
  background-color: var(--main-color);
  color: #fff;
}
.landing .input a:hover {
  opacity: 1;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Signin page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Signin {
  position: relative;
  min-height: 100vh;
}
.Signin .imgs img {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 0;
}
@media (max-width: 992px) {
  .Signin .imgs.web img {
    display: none;
  }
  .Signin .imgs.mob img {
    display: block;
  }
}
@media (min-width: 993px) {
  .Signin .imgs.web img {
    display: block;
  }
  .Signin .imgs.mob img {
    display: none;
  }
}
.Signin .container {
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 370px;
}
.Signin .container h1 {
  position: relative;
  color: #4d5983;
  font-weight: bold;
  font-size: 50px;
  padding: 0 0 20px 0;
}
.Signin .container h1::before {
  position: absolute;
  content: "";
  background: rgb(225, 184, 130);
  background: linear-gradient(
    97deg,
    rgba(225, 184, 130, 1) 42%,
    rgba(223, 182, 131, 1) 50%,
    rgba(189, 134, 163, 1) 65%
  );
  width: 100%;
  height: 2px;
  bottom: 0;
}
.Signin .container p > span > a {
  color: var(--main-color);
  font-weight: bold;
}
.Signin .container input,
.landing.home .input-section input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: var(--main-border);
  background-color: transparent;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# wrapper
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    margin: 10px;
    grid-template-columns: minmax(200px, 1fr);
  }
}
.wrapper .box {
  background-color: var(--main-color);
  box-shadow: var(--main-box-shadow);
  height: 350px;
}
.wrapper .box button {
  cursor: pointer;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Landing home
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.landing.home .input-section {
  width: 300px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student  home page Student
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Share {
  width: 80%;
  height: fit-content;
  border-radius: var(--main-border-radius);
  background: rgba(241, 245, 249, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.5px);
}
.Post {
  width: 80%;
  overflow: hidden;
  background: rgba(241, 245, 249, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.5px);
}
@media (max-width: 992px) {
  .Share {
    width: 100%;
  }
  .Post {
    width: 100%;
  }
  .Share .icons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}
.Share .Share-input input {
  padding: 8px 10px;
  border: 0.5px solid #eee;
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  width: 100%;
}

.Share .shareoption i {
  font-size: 18px;
  color: var(--red-color);
}
.post-center img {
  min-width: 100%;
  object-fit: cover;
  max-height: 300px;
}
.reacts i {
  cursor: pointer;
  font-size: 30px;
}
.reacts i.active {
  color: var(--red-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student  home page Student stuff
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.our-stuff {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.our-stuff .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
@media (max-width: 767px) {
  .our-stuff .container {
    gap: 0px;
  }
}
.our-stuff .container .card {
  position: relative;
  background-color: transparent;
  text-align: center;
  border-radius: calc(var(--main-border-radius));
  z-index: 2;
  cursor: pointer;
}
.our-stuff .container .card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: calc(var(--main-border-radius));
}
.our-stuff .container .card::after {
  position: absolute;
  content: "";
  width: 0;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.112);
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: var(--main-transition);
  border-radius: calc(var(--main-border-radius));
}
.our-stuff .container .card:hover::after {
  width: 100%;
}
.our-stuff .container .card .img-container {
  width: 150px;
  height: 150px;
  margin-left: 15px;
  border: 15px solid var(--main-background-color);
  border-radius: 50%;
}
.our-stuff .container .card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: var(--main-transition);
}

.our-stuff .container .card:hover img {
  filter: grayscale(100%);
  transform: rotate(5deg) scale(1.1);
}
.our-stuff .container .card .number-courses p {
  padding: 8px 20px;
  background-color: var(--red-color);
  width: fit-content;
  margin: 20px auto;
  color: #fff;
  border-radius: var(--main-border-radius);
}
.our-stuff .container .card h1 {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000000b8;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student  home page Student sammaryData
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.sammaryData {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  margin: 0;
}
.sammaryData::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(290deg, #43b5c1 10%, #000002 69%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.sammaryData .container {
  position: relative;
}
.sammaryData .header-data h1 {
  font-size: 80px;
  color: #ffff;
}
.sammaryData .header-data a,
.WhatOffer .container .box a {
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f4b44b;
  border-radius: 4px 4px 4px 4px;
  padding: 20px 50px 20px 50px;
  color: #fff;
  transition: var(--main-transition);
  display: inline-block;
  margin-bottom: 50px;
}
.sammaryData .header-data a:hover,
.WhatOffer .container .box a:hover {
  background-color: #7bdcb5;
  animation: up 1.5s alternate infinite;
}
@keyframes up {
  100% {
    transform: translateY(-25%);
  }
}
@media (max-width: 767px) {
  .sammaryData .header-data {
    text-align: center;
  }
  .sammaryData .header-data h1 {
    font-size: 35px;
  }
}
.sammaryData .footer-data .box {
  background-color: #000000b8;
  color: #fff;
}
.sammaryData .footer-data .box a i {
  font-size: 20px;
  margin-left: 10px;
  animation: left 0.8s alternate-reverse infinite;
}
@keyframes left {
  100% {
    transform: translateX(-25%);
  }
}
.sammaryData .footer-data .box i {
  font-size: 50px;
  color: var(--orange-color);
  margin-right: 40px;
}
.sammaryData .footer-data .box .data-box p {
  font-size: 25px;
  font-weight: bold;
  color: #ffff;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .sammaryData .footer-data .box {
    flex-direction: column;
    text-align: center;
  }
  .sammaryData .footer-data .box i {
    margin: 0;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student  home page Student What We Offer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.WhatOffer {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #fff;
}
@media (max-width: 767px) {
  .WhatOffer .container .box {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
.WhatOffer .container .box .left p {
  line-height: 2;
  font-size: 18px;
  margin-left: 25px;
  width: 90%;
  color: #767676;
}
.WhatOffer .container .box .left ul li {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
}
.WhatOffer .container .box .left ul li::before {
  position: absolute;
  content: "\f058";
  width: 20px;
  height: 20px;
  left: 0;
  color: #1ea2d8;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 1.3rem;
}
.WhatOffer .container .box .right img {
  width: 450px;
}
@media (max-width: 767px) {
  .WhatOffer .container .box .right img {
    width: 100%;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Plan Page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.StudentTablePage {
  position: relative;
  min-width: 100%;
  padding-bottom: var(--main-padding-bottom);
}

.StudentTablePage h1 {
  text-align: center;
  font-weight: bold;
  color: var(--dark-blue);
}
.StudentTablePage .StudentTablePageContainer {
  width: 100%;
  height: 100%;
}
.StudentTablePage table {
  position: relative;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}
.StudentTablePage table th,
.StudentTablePage table td {
  margin: 0;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
  font-weight: 500;
  height: 50px;
  border-bottom: 0.5px solid rgb(193, 193, 193);
  border-left: 0.5px solid rgb(193, 193, 193);
}
.StudentTablePage table th {
  text-align: center;
}
.StudentTablePage table td:not(:first-child) {
  cursor: pointer;
}
.StudentTablePage table thead th {
  position: relative;
  background-color: var(--main-page-color);
  color: #fff;
  font-weight: 500;
}
.StudentTablePage table td:first-child {
  background-color: var(--purple-color);
  color: #fff;
  font-weight: bold;
}
.StudentTablePage table tbody tr:hover {
  background-color: rgba(193, 193, 193, 0.3);
}
.toolbar {
  position: relative;
}
.management {
  position: relative;
  width: 100%;
  background-color: var(--orange-color);
  padding: 12px 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.management h1 {
  margin: 5px auto;
  color: #fff;
}
.toolbar button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--main-transition);
  background-color: var(--main-background-color);
  color: var(--orange-color);
  margin: auto 5px;
  font-size: 18px;
}
.toolbar button:hover {
  background-color: var(--main-page-color);
}
@media screen and (max-width: 776px) {
  .StudentTablePage {
    padding: 0;
  }
  .StudentTablePage table {
    border: 0;
    box-shadow: none;
    margin: 0;
  }

  .StudentTablePage table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .StudentTablePage table tr {
    position: relative;
    border-bottom: 3px solid #ddd;
    margin-bottom: 0.625em;
    width: 100%;
  }
  .StudentTablePage table tr {
    display: grid;
    grid-template-columns: auto auto;
  }
  .StudentTablePage table tr > :first-child {
    grid-column: 1 / 3;
  }
  .StudentTablePage table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 14px;
    text-align: right;
  }
  .StudentTablePage table td:first-child {
    text-align: center;
    background-color: var(--main-page-color);
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    width: 100%;
  }
  .StudentTablePage table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(250, 167, 0);
  }

  .StudentTablePage table td:last-child {
    border-bottom: 0;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Setting Page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.StudentSettingPage {
  position: relative;
}
.StudentSettingPage::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20vh;
  background: linear-gradient(290deg, #43b5c1 10%, #000002 69%);
  opacity: 0.9;
}
.StudentSettingPage .container {
  position: relative;
}
.StudentSettingPage .container .img-name-settingpage > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: calc(10vh);
  margin-left: 2.5%;
  transition: var(--main-transition);
}
.StudentSettingPage .container .img-name-settingpage h1 {
  color: var(--dark-blue);
  text-shadow: 2px 2px 8px rgb(207, 207, 207);
}
@media (max-width: 767px) {
  .StudentSettingPage .container .img-name-settingpage {
    text-align: center;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Setting Page student details
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.StudentSettingPage .setting-name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}
.StudentSettingPage .setting-name li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 500;
  height: 100%;
  height: 50px;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}
.StudentSettingPage .setting-name li a::before {
  position: absolute;
  content: "";
  width: calc(100% - 30px);
  bottom: 0%;
  background-color: #000;
  height: 1px;
  transition: var(--main-transition);
  left: -100%;
}
.StudentSettingPage .setting-name li a.active::before {
  left: 15%;
}
.StudentProfile {
  position: relative;
  padding-top: calc(var(--main-padding-top) / 4);
  padding-bottom: var(--main-padding-bottom);
}
.StudentProfile .box:not(:first-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.StudentProfile .box {
  padding: 20px;
}
.StudentProfile .box:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
}
.StudentProfile .box h5 {
  font-size: 18px;
  width: 30%;
  color: #000002c3;
  font-weight: 600;
  letter-spacing: 1.1px;
  opacity: 0.7;
}
.StudentProfile .box:first-child h5 {
  margin-bottom: 20px;
  font-weight: 800;
}
.StudentProfile .box input {
  width: 100%;
  color: var(--grey-color);
  padding: 10px 20px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  border: none;
  cursor: default;
}

.StudentProfile .box input[type="button"] {
  background-color: #000;
  width: fit-content;
  color: #fff;
  display: flex;
  margin: 0 0 0 auto;
  cursor: pointer;
}
@media (max-width: 767px) {
  .StudentProfile .box {
    text-align: center;
    flex-direction: column;
    gap: 10px !important;
  }

  .StudentProfile .box h5 {
    width: 100%;
    margin-bottom: 5px;
  }
  .StudentProfile .box input {
    text-align: center;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# cources page
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--main-padding-bottom) * 2);
}

.student-courses-container .header {
  position: relative;
  width: 100%;
  margin: 20px 0px;
  gap: 5px;
}

.student-courses-container .header .input-absulote {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--main-border-radius);
  box-shadow: 0px 15px 15px -3px rgba(184, 184, 184, 1);
}
.student-courses-container .header .input-absulote input {
  padding: 10px 8px;
  border: none;
  border-radius: var(--main-border-radius);
}
.student-courses-container .header .input-absulote i {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(206, 206, 206, 0.685);
  color: #000;
  border-radius: 0;
}
.student-courses-container .header i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09729c;
  color: #fff;
  border-radius: calc(var(--main-border-radius) / 2);
  cursor: pointer;
  font-size: large;
  box-shadow: 0px 15px 15px -3px rgba(184, 184, 184, 1);
}
.student-courses-container .header i.active {
  background-color: var(--green-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# student-courses-container container-courses.grid card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
@media (max-width: 776px) {
  .student-courses-container .container-courses.grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
.student-courses-container .container-courses.grid .card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.student-courses-container .container-courses.grid .card .info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.student-courses-container
  .container-courses.grid
  .card
  .info
  .footer-container-cousres
  h5 {
  font-size: 30px;
  color: #fff;
  margin: 0 0 10px 0;
  position: relative;
  text-align: center;
}
.student-courses-container .container-courses.grid .card .info > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px auto;
}
.student-courses-container .container-courses.grid .card .box-footer {
  padding: 12px;
  position: relative;
  margin-bottom: 25px;
}
.student-courses-container .container-courses.grid .card .box-footer::before,
.student-courses-container .container-courses.grid .card .box-footer::after {
  position: absolute;
  content: "";
  background-color: rgba(206, 206, 206, 0.685);
  width: 105%;
  height: 100%;
  top: 0;
}
.student-courses-container .container-courses.grid .card .box-footer::after {
  transform: rotate(3deg) translateX(-5px);
  left: 0;
}
.student-courses-container .container-courses.grid .card .box-footer::before {
  transform: rotate(-3deg) translateX(5px);
  right: 0;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# student-courses-container container-courses.grid list
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses.list {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.student-courses-container .container-courses.list .card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-courses-container .container-courses.list .card .info {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
}
.student-courses-container
  .container-courses.list
  .card
  .info
  .footer-container-cousres
  h5 {
  position: relative;
  font-size: 30px;
  color: #fff;
  margin: 0px auto;
  z-index: 5;
}
.student-courses-container .container-courses.list .card .info > img {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px auto;
  object-fit: cover;
  z-index: 5;
}
.student-courses-container
  .container-courses.list
  .card
  .footer-container-cousres {
  position: relative;
}
.student-courses-container
  .container-courses.list
  .card
  .footer-container-cousres::after {
  position: absolute;
  content: "";
  background-color: rgba(206, 206, 206, 0.685);
  width: 150%;
  height: 100%;
  transform: rotate(-2deg) translateX(80px);
  right: 0;
  top: 0;
}
.student-courses-container .container-courses.list .card .box-footer p {
  color: #000;
  z-index: 5;
  font-weight: bold;
}
.student-courses-container .container-courses.list .card .card-overlay::after {
  left: 0;
  background-image: url("../img/blob/course.svg");
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# student-courses-container container-courses general
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses .card .box-footer p {
  color: #000;
  z-index: 5;
  font-weight: bold;
}
.student-courses-container .container-courses .card .box-footer p span {
  color: #09729c;
  font-weight: bold;
}
.student-courses-container .container-courses .card .card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.student-courses-container .container-courses .card .card-overlay::before,
.student-courses-container .container-courses .card .card-overlay::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.student-courses-container .container-courses .card .card-overlay::before {
  background-color: rgba(0, 0, 0, 0.65);
}
.student-courses-container .container-courses .card .card-overlay::after {
  background-image: url("../img/blob/blobmob2.svg");
  background-repeat: no-repeat;
  object-position: center center;
  width: 50%;
  top: 0;
  right: 0;
}
.student-courses-container .container-courses .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.student-courses-container .container-courses .card .box-footer a {
  width: 35px;
  height: 35px;
  background-color: var(--main-page-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# course data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.specific-course {
  position: relative;
  width: 100%;
}
.specific-course .course-data-header {
  position: relative;
  background-image: url("../img/Courses/course-data-header.jpg");
  width: 100%;
  height: calc(100vh - 62px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.specific-course .course-data-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.specific-course .course-data-header .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.specific-course .course-data-header .container h3 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.specific-course .course-data-header .container h5 {
  letter-spacing: 3px;
  color: #eee;
  font-size: 18px;
}
.specific-course .course-data-header .container a {
  width: 60px;
  height: 60px;
  border: var(--main-border);
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  margin-top: 35px;
  transition: var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
}
.specific-course .course-data-header .container a:hover {
  background-color: var(--main-color);
}
@media (max-width: 772px) {
  .specific-course .course-data-header .container {
    background-position: bottom right;
  }
  .specific-course .course-data-header .container h3 {
    font-size: 35px;
  }
}
.specific-course .container {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.specific-course .holder {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
}
.specific-course .holder .right {
  width: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.specific-course .holder .right .Frame {
  width: 100%;
}
.specific-course .holder .right .info {
  position: relative;
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
}
.specific-course .holder .left {
  min-width: 300px;
  background-color: #fff;
  height: 100%;
}
.specific-course .holder .left .top-vedio {
  padding: 20px;
  width: 100%;
  background-color: #f0f0f0;
}
.specific-course .holder .left .top-vedio p {
  font-size: 17px;
  color: var(--blue-color);
  font-weight: bold;
}
.specific-course .holder .left ul {
  height: 575px;
  overflow: hidden;
  overflow-y: scroll;
}
.specific-course .holder .left ul::-webkit-scrollbar {
  display: none;
}
.specific-course .holder .left ul li {
  padding: 20px;
  border-top: 1px solid #ececec;
  cursor: pointer;
  transition: var(--main-transition);
}

.specific-course .holder .left ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.specific-course .holder .left ul li span {
  display: block;
  margin-top: 10px;
  color: var(--main-p-color);
}
@media (max-width: 1200px) {
  .specific-course .holder {
    flex-direction: column-reverse;
  }
  .specific-course .holder .left {
    width: 100%;
  }
}
.specific-course .discription {
  position: relative;
  background-color: #faf5ec;
}
.specific-course .discription .container .details-head {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  color: var(--red-color);
}
.specific-course .discription .container .details-head::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #fff;
  bottom: 0;
}
.specific-course .discription .container .description-titel {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 30px;
}
.specific-course .discription .container .description-titel + p {
  padding: 10px 20px;
  letter-spacing: 1.1px;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  font-weight: 500px;
}
.specific-course
  .discription
  .container
  .description-titel
  + .projects-counter
  li {
  position: relative;
  padding: 10px 0 10px 50px;
  counter-increment: section;
  font-weight: bold;
}

.specific-course
  .discription
  .container
  .description-titel
  + .projects-counter
  li::before {
  position: absolute;
  content: counter(section) " - ";
  left: 0;
  font-weight: bold;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# top instructor
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.top_instructor {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.top_instructor::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(290deg, #43b5c1 10%, #000002 69%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.top_instructor .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
@media (max-width: 776px) {
  .top_instructor .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
.top_instructor_header {
  position: relative;
  padding: 20px;
  color: var(--main-background-color);
  margin: 20px auto;
  text-align: center;
  width: fit-content;
  transition: var(--main-transition);
}
.top_instructor_header::before {
  position: absolute;
  content: "\f521";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  fill: none;
  color: rgb(252, 189, 0);
  width: 100%;
  height: 100%;
  top: -5px;
  transform: rotate(-8deg);
  left: 0;
  transition: var(--main-transition);
  animation: drop 1s alternate infinite;
}

@keyframes drop {
  from {
    top: -15%;
  }
}
.top_instructor .container .card {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(242, 245, 245, 0.58);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.top_instructor .container .card-img {
  position: relative;
}
.top_instructor .container .card-img::before {
  position: absolute;
  content: "";
  width: calc(100% * 2);
  height: calc(100% * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Courses/card_crown.png");
  top: 0;
  left: 0;
  z-index: 9;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-25%, -25%);
  transition: var(--main-transition);
}
.top_instructor .container .card img {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.top_instructor .container .stars i {
  color: var(--orange-color);
  margin: 20px auto;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# RounDom Quote
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.RounDomQuote {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  overflow: hidden;
}
.RounDomQuote .container > h1 {
  position: relative;
  color: var(--main-page-color);
  display: block;
  margin: 10px auto;
  text-align: center;
  z-index: 3;
  width: fit-content;
}

.RounDomQuote .container {
  position: relative;
}
.RounDomQuote .container::before,
.RounDomQuote .container::after {
  position: absolute;
  content: "";
  background-color: var(--orange-color);
  width: 250px;
  height: 250%;
  border-radius: var(--main-border-radius);
  transform: rotate(45deg) translateY(-150px);
  transition: var(--main-transition);
}
.RounDomQuote .container::before {
  top: 0;
  right: -120px;
}
.RounDomQuote .container::after {
  top: -100%;
  left: -250px;
  transform: rotate(45deg);
}
.quote_container {
  position: relative;
  background-color: #fff;
  border-radius: var(--main-border-radius);
  padding: 20px;
  z-index: 5;
  box-shadow: var(--main-box-shadow);
}
.RounDomQuote .quote_container h1 {
  padding: 20px;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
  width: 100%;
}
.RounDomQuote .quote_container h1::before,
.RounDomQuote .quote_container h1::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "\f10e";
  font-weight: 900;
  font-family: "Font awesome 5 free";
  color: var(--orange-color);
}
.RounDomQuote .container h1::before {
  left: -50%;
  top: -30px;
}
.RounDomQuote .container h1::after {
  right: -50%;
  top: 100%;
}
.RounDomQuote p {
  position: relative;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1.2px;
  width: fit-content;
  margin: 0 auto;
}
.RounDomQuote p::before {
  position: absolute;
  color: var(--orange-color);
  content: "\f52d";
  right: -20%;
  font-weight: 900;
  font-family: "Font awesome 5 free";
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Footer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.footer {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.footer::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(290deg, #43b5c1 10%, #000002 69%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.footer .contact h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1.7px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 3px solid var(--red-color);
  width: fit-content;
  padding-bottom: 10px;
}
.footer .contact h1 + p {
  margin-bottom: 10px;
  color: #302e2e;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
}
.footer .contact .social i {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--main-transition);
}
.footer .contact .social i:hover,
.footer .contact .Apps a:hover {
  background-color: #2c3e50;
  color: #ffff;
}
.footer .contact .Apps a:hover p {
  color: var(--main-color);
}
.footer .contact .Apps a {
  background-color: #ffff;
  padding: 8px 25px;
  margin: 10px auto;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}
.footer .contact .Apps a i {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.footer .Map iframe {
  border-radius: var(--main-border-radius);
}
