/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("root.css");
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark-blue);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px #0bb3f550;
  backdrop-filter: blur(50px);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Not Founded
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.NotFounded {
  height: 100vh;
  background-color: var(--dark-blue);
}
.NotFounded img {
  width: 250px;
  height: 250px;
  max-width: 100%;
}
.NotFounded .text {
  font-size: 20px;
  color: #f5f5f5;
  margin: 20px;
  line-height: 2;
  font-weight: bold;
}
.NotFounded p {
  font-size: 40px;
  line-height: 1.7;
  margin: 10px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# spikes
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.spikes {
  position: relative;
}

.spikes::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-image: linear-gradient(
      135deg,
      var(--white-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--white-color) 25%, transparent 25%);
  background-size: 30px 30px;
}
.spikes-rotated {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-image: linear-gradient(
      135deg,
      var(--white-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--white-color) 25%, transparent 25%);
  background-size: 30px 30px;
  transform: rotate(180deg) translateY(30px);
}
.img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Shape9.png");
  background-size: contain;
  background-repeat: repeat;
  top: 0;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# input General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
input:focus {
  outline: none;
}
input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
textarea:focus {
  outline: none;
}
@media print {
  @page {
    size: landscape;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General elements
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
ul {
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  color: var(--main-p-color);
  line-height: 1.8;
  font-size: 1rem;
  color: #767676;
  font-weight: 400;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# PAge 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.page {
  display: flex;
  min-height: 100vh;
  background-color: var(--main-background-color);
  overflow: hidden;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Content 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.content {
  width: 100%;
  position: relative;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# sidebar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.sidebar {
  /*remove it and maket it relative to make it stiky 
  and remove height*/
  position: fixed;
  min-height: 100vh !important;
  /**/
  background-color: var(--white-color);
  padding: 20px;
  width: 250px;
  z-index: 1000;
  left: -250px;
  transition: var(--main-transition);
  top: 0 !important;
}
.sidebar.open {
  left: 0;
}
.sidebar .bullet {
  position: absolute;
  right: -30px;
  top: 25%;
  width: 30px;
  height: 30px;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  z-index: 1000;
  cursor: pointer;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.sidebar > h3 {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  color: var(--black-color);
}
/*
remove this comment if you want it to be sticy

@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    position: absolute;
    content: "";
    background-color: var(--main-p-color);
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    width: 80%;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    bottom: -29px;
  }
} */

/*
remove this comment if you want it to be sticy 
*/
.sidebar > h3::before,
.sidebar > h3::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}
.sidebar > h3::before {
  width: 80%;
  height: 2px;
  bottom: -20px;
  background-color: var(--black-color);
}
.sidebar > h3::after {
  bottom: -29px;
  font-weight: 900;
  content: "\f19d";
  font-family: "Font Awesome 5 Free";
  color: var(--orange-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# sidebar Theme
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.sidebar ul li.options {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-radius: var(--main-border-radius);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar ul li.options::before {
  position: absolute;
  content: "";
  background-color: var(--black-color);
  width: 80%;
  height: 2px;
  left: 0;
  bottom: 0px;
  border-radius: var(--main-border-radius);
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul li.options span {
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--main-color);
}
.sidebar ul li.options label {
  position: relative;
  width: 72px;
  height: 28px;
  border-radius: 50%;
}
.sidebar ul li.options input[type="checkbox"] {
  appearance: none;
  opacity: 0;
}
.sidebar ul li.options input[type="checkbox"] + span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  transition: var(--main-transition);
}
.sidebar ul li.options input[type="checkbox"]:checked + span {
  background-color: var(--drak-color-style);
}

.sidebar ul li.options input[type="checkbox"] + span::before {
  position: absolute;
  content: "\f185";
  font-family: var(--fa-style-family-classic);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  width: 22px;
  height: 22px;
  background-color: var(--drak-color-style);
  left: 3px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.sidebar ul li.options input[type="checkbox"]:checked + span::before {
  background-color: var(--blue-alt2-color);
  content: "\f186";
  left: calc(100% - 25px);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# sidebar links
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.sidebar ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--black-color);
  border-radius: var(--main-border-radius);
  padding: 10px;
  transition: var(--main-transition);
  margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: rgba(0, 0, 0, 0.667);
  color: var(--orange-color);
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

/*
remove this comment if you want it to be sticy

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    margin-bottom: 35px;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    letter-spacing: 2px;
  }
  .sidebar ul li a span {
    display: none;
  }
} */

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# cources page student courses
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--main-padding-bottom) * 2);
  background-color: var(--white-color);
}

.student-courses-container .header {
  position: relative;
  width: 100%;
  margin: 20px 0px;
  gap: 5px;
}

.student-courses-container .header .input-absulote {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--main-border-radius);
  box-shadow: 0px 10px 10px -3px rgba(184, 184, 184, 0.2);
}
.student-courses-container .header .input-absulote input {
  padding: 10px 8px;
  border: none;
  border-radius: var(--main-border-radius);
  background-color: var(--white-color);
}
.student-courses-container .header .input-absulote i {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #1ea2d8;
  color: var(--white-color);
  border-radius: 0;
  box-shadow: none;
}
.student-courses-container .header i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09729c;
  color: var(--white-color);
  border-radius: calc(var(--main-border-radius) / 2);
  cursor: pointer;
  font-size: large;
  box-shadow: 0px 10 px 10px -3px rgba(184, 184, 184, 0.2);
}
.student-courses-container .header i.active {
  background-color: var(--green-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# student-courses-container container-courses.grid card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  z-index: 2;
}
@media (max-width: 776px) {
  .student-courses-container .container-courses.grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
.student-courses-container .container-courses.grid .card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--white-color);
  box-shadow: 0px 15px 15px -3px rgba(184, 184, 184, 0.2);

  border-radius: 18px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.student-courses-container .container-courses.grid .card .info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.student-courses-container
  .container-courses.grid
  .card
  .info
  .footer-container-cousres
  h5 {
  font-size: 30px;
  color: #fff;
  margin: 0 0 10px 0;
  position: relative;
  text-align: center;
}
.student-courses-container .container-courses.grid .card .info > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px auto;
}
.student-courses-container .container-courses.grid .card .box-footer {
  padding: 12px;
  position: relative;
  margin-bottom: 25px;
}
.student-courses-container .container-courses.grid .card .box-footer::before,
.student-courses-container .container-courses.grid .card .box-footer::after {
  position: absolute;
  content: "";
  background-color: rgba(206, 206, 206, 0.685);
  width: 105%;
  height: 100%;
  top: 0;
}
.student-courses-container .container-courses.grid .card .box-footer::after {
  transform: rotate(3deg) translateX(-5px);
  left: 0;
}
.student-courses-container .container-courses.grid .card .box-footer::before {
  transform: rotate(-3deg) translateX(5px);
  right: 0;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# student-courses-container container-courses.grid list
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses.list {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.student-courses-container .container-courses.list .card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.student-courses-container .container-courses.list .card .info {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
}
.student-courses-container
  .container-courses.list
  .card
  .info
  .footer-container-cousres
  h5 {
  position: relative;
  font-size: 30px;
  color: #fff;
  margin: 0px auto;
  z-index: 5;
}
.student-courses-container .container-courses.list .card .info > img {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px auto;
  object-fit: cover;
  z-index: 5;
}
.student-courses-container
  .container-courses.list
  .card
  .footer-container-cousres {
  position: relative;
}
.student-courses-container
  .container-courses.list
  .card
  .footer-container-cousres::after {
  position: absolute;
  content: "";
  background-color: rgba(206, 206, 206, 0.685);
  width: 150%;
  height: 100%;
  transform: rotate(-2deg) translateX(80px);
  right: 0;
  top: 0;
}
.student-courses-container .container-courses.list .card .box-footer p {
  color: #000;
  z-index: 5;
  font-weight: bold;
}
.student-courses-container .container-courses.list .card .card-overlay::after {
  left: 0;
  background-image: url("../img/blob/course.svg");
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# student-courses-container container-courses general
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses .card .box-footer p {
  color: #000;
  z-index: 5;
  font-weight: bold;
}
.student-courses-container .container-courses .card .box-footer p span {
  color: #09729c;
  font-weight: bold;
}
.student-courses-container .container-courses .card .card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.student-courses-container .container-courses .card .card-overlay::before,
.student-courses-container .container-courses .card .card-overlay::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.student-courses-container .container-courses .card .card-overlay::before {
  background-color: rgba(0, 0, 0, 0.65);
}
.student-courses-container .container-courses .card .card-overlay::after {
  background-image: url("../img/blob/blobmob2.svg");
  background-repeat: no-repeat;
  object-position: center center;
  width: 50%;
  top: 0;
  right: 0;
}
.student-courses-container .container-courses .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.student-courses-container .container-courses .card .box-footer a {
  width: 35px;
  height: 35px;
  background-color: var(--main-page-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# course data header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.course-data-header {
  position: relative;
  width: 100%;
  height: calc(100vh - 62px);
  overflow: hidden;
  background-color: var(--main-page-color);
}

.course-data-header .container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.course-data-header .container .blob {
  position: relative;
  width: 500px;
  height: 500px;
  transition: var(--main-transition);
}
.course-data-header .container .blob .img-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  background-color: var(--dark-blue);
  border-radius: 50%;
  transition: var(--main-transition);
}
.course-data-header .container .blob img {
  width: 400px;
}
.course-data-header .container .blob .circle {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: var(--main-color);
  width: 250px;
  height: 250px;
  z-index: 1;
  transition: var(--main-transition);
}
.course-data-header .container .blob .circle:nth-child(1) {
  bottom: -25px;
  left: -35px;
  border-bottom-left-radius: 15px;
}
.course-data-header .container .blob .circle:nth-child(2) {
  bottom: -25px;
  right: -35px;
  border-bottom-right-radius: 0;
  background-color: var(--main-color);
}
.course-data-header .container h3 {
  font-size: 50px;
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.course-data-header .container h5 {
  letter-spacing: 3px;
  color: #fff;
  font-size: 18px;
}
.course-data-header .container a {
  width: 150px;
  height: 60px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  border-radius: 28px;
  border-bottom-left-radius: 0;
}
.course-data-header .container a:hover {
  background-color: var(--main-color);
}
@media (max-width: 992px) {
  .course-data-header .container {
    flex-direction: column-reverse;
  }
  .course-data-header .container .blob {
    width: 350px;
    height: 350px;
  }
  .course-data-header .container .blob .img-container {
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .course-data-header .container .blob .img-container img {
    width: 320px;
    transform: translateY(50px);
  }
  .course-data-header .container .blob .circle {
    width: 200px;
    height: 200px;
    display: none;
  }
  .course-data-header .container h3 {
    font-size: 35px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# course data video
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.specific-course {
  position: relative;
  width: 100%;
}
.specific-course .video {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--white-color);
}
.specific-course .holder {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid #ddd;
}
.specific-course .holder .right {
  width: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.specific-course .holder .right .Frame {
  width: 100%;
}
.specific-course .holder .right .info {
  position: relative;
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
}
.specific-course .holder .left {
  min-width: 300px;
  background-color: var(--white-color);
  height: 100%;
}
.specific-course .holder .left .top-vedio {
  padding: 20px;
  width: 100%;
  background-color: #f0f0f0;
}
.specific-course .holder .left .top-vedio p {
  font-size: 17px;
  color: var(--blue-color);
  font-weight: bold;
}
.specific-course .holder .left ul {
  height: 575px;
  overflow: hidden;
  overflow-y: scroll;
}
.specific-course .holder .left ul::-webkit-scrollbar {
  display: none;
}
.specific-course .holder .left ul li {
  padding: 20px;
  border-top: 1px solid #ececec;
  cursor: pointer;
  transition: var(--main-transition);
  color: var(--black-color);
}

.specific-course .holder .left ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.specific-course .holder .left ul li span {
  display: block;
  margin-top: 10px;
  color: var(--main-p-color);
}
.specific-course .holder .left ul li:hover span {
  color: var(--orange-color);
  transition: var(--main-transition);
}
@media (max-width: 1200px) {
  .specific-course .holder {
    flex-direction: column-reverse;
  }
  .specific-course .holder .left {
    width: 100%;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# course data discription
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.specific-course .discription {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--main-page-color);
}
.specific-course .discription .container .details-head {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}
.specific-course .discription .container .details-head::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--white-color);
  bottom: 0;
}
.specific-course .discription .container .description-titel {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 30px;
  color: var(--red-color);
}
.specific-course .discription .container .description-titel + p {
  padding: 10px 20px;
  letter-spacing: 1.1px;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  font-weight: 500px;
  color: #fff;
}
.specific-course
  .discription
  .container
  .description-titel
  + .projects-counter
  li {
  position: relative;
  padding: 10px 0 10px 50px;
  counter-increment: section;
  font-weight: bold;
  color: #fff;
}

.specific-course
  .discription
  .container
  .description-titel
  + .projects-counter
  li::before {
  position: absolute;
  content: counter(section) " - ";
  left: 0;
  font-weight: bold;
  color: var(--orange-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# top instructor
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.top_instructor {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.top_instructor::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(290deg, #43b5c1 10%, #000002 69%);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.top_instructor .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
@media (max-width: 776px) {
  .top_instructor .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
.top_instructor_header {
  position: relative;
  padding: 20px;
  color: #f1f5f9;
  margin: 20px auto;
  text-align: center;
  width: fit-content;
  transition: var(--main-transition);
}
.top_instructor_header::before {
  position: absolute;
  content: "\f521";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  fill: none;
  color: rgb(252, 189, 0);
  width: 100%;
  height: 100%;
  top: -5px;
  transform: rotate(-8deg);
  left: 0;
  transition: var(--main-transition);
  animation: drop 1s alternate infinite;
}

@keyframes drop {
  from {
    top: -15%;
  }
}
.top_instructor .container .card {
  position: relative;
  width: 100%;
  padding: 40px 0 20px 0;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(242, 245, 245, 0.58);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.top_instructor .container .card-img {
  position: relative;
}
.top_instructor .container .card-img::before {
  position: absolute;
  content: "";
  width: calc(100% * 2);
  height: calc(100% * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Courses/card_crown.png");
  top: 0;
  left: 0;
  z-index: 9;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-25%, -25%);
  transition: var(--main-transition);
}
.top_instructor .container .card img {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.top_instructor .container .stars i {
  color: var(--orange-color);
  margin: 20px auto;
}
.top_instructor .container .card .social a i {
  color: #fff;
  font-size: 18px;
  transition: var(--main-transition);
  margin-top: 10px;
  width: 35px;
  height: 35px;
  background-color: rgba(136, 136, 136, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap !important;
  border-radius: 50%;
}
@media (max-width: 776px) {
  .top_instructor .container .card .social {
    flex-wrap: wrap;
    gap: 5px;
  }
  .top_instructor .container .card .social a i {
    width: 28px;
    height: 28px;
  }
}

.top_instructor .container .card .social a i:hover {
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.4);
}
