/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import "../../css/root.css";
html {
  scroll-behavior: smooth;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library head-Section
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Library .head-Section {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: var(--main-page-color);
  box-shadow: 0 5px 10px var(--purple-color);
  overflow: hidden;
}

.Library .head-Section::before {
  position: absolute;
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/Library/books.jpg");
  clip-path: circle(60% at left 300px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.head-Section .container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  z-index: 3;
}
.head-Section .container .right,
.head-Section .container .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.head-Section .container .right p {
  font-size: 28px;
  text-align: left;
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  width: 60%;
}

.head-Section .container .left img {
  width: 700px;
}
.head-Section .container .search {
  width: 100%;
  position: relative;
  flex-wrap: nowrap;
  display: flex;
}
.head-Section .container .search button {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--main-color);
  background-color: var(--orange-color);
  border-radius: calc(var(--main-border-radius) * 1.5);
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.head-Section .container .search button:focus {
  outline: none;
}
.head-Section .container .search input {
  padding: 8px 12px;
  width: fit-content;
  width: 200px;
  border: 3px solid var(--main-color);
  border-right: none;
  cursor: pointer;
  border-radius: calc(var(--main-border-radius) * 1.5);
  transition: var(--main-transition);
  background-color: rgba(233, 233, 233, 0.284);
  color: var(--main-color);
  font-size: 18px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.head-Section .container .search input:focus {
  width: 50%;
}
.head-Section .container .search input::placeholder {
  color: rgb(182, 182, 182);
  font-size: 16px;
}
@media (max-width: 992px) {
  .head-Section .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .head-Section .container .right p {
    width: 100%;
    font-size: 20px;
  }
  .head-Section .container .left {
    display: none;
  }
  .Library .head-Section::before {
    clip-path: circle(90% at left 100px);
  }
  .head-Section .container .search input:focus {
    width: 80%;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library Content
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Library .content {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  box-shadow: 0 5px 10px var(--purple-color);
}
.Library .content .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
@media (max-width: 776px) {
  .Library .content .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library book
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/

.Library .content .container .book {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
  font-weight: 400;
  color: #2b2b2b;
  transform-style: preserve-3d;
  transition: var(--main-transition);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  cursor: pointer;
}

.Library .content .container .book:hover {
  transform: rotate3d(0, 1, 0, 35deg);
}
.Library .content .container .front {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transition: var(--main-transition);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}
.Library .content .container .book .front > div {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
}
.Library .content .container .book .front > div,
.Library .content .container .book .left-side {
  position: absolute;
  width: 100%;
  height: 100%;
}
.Library .content .container .book .front > div {
  position: relative;
  width: 100%;
  height: 300px;
}
.Library .content .container .book .front img {
  width: 100%;
  height: 100%;
}
.Library .content .container .book .left-side {
  top: 0;
  width: 40px;
  height: 100%;
  left: -20px;
  background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
  transform: rotate3d(0, 1, 0, -90deg);
  color: #010101;
}

.Library .content .container .book .left-side h2 {
  position: absolute;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  top: 0px;
  writing-mode: vertical-lr;
  padding: 20px;
  transform: rotate(180deg);
  font-weight: bold;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Library modal
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.modal {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}
.modal .overlay {
  position: relative;
  background-color: var(--purple-color);
  width: 700px;
  max-height: 600px;
  padding: 20px;
  overflow: hidden;
  border-radius: var(--main-border-radius);
}

.modal .overlay > button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0px;
  background-color: var(--orange-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: var(--main-border-radius);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}
.modal .overlay .data {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.modal .overlay .data img {
  width: 150px;
  height: 170px;
  border-radius: var(--main-border-radius);
}
.modal .overlay .data .info h1 {
  color: #fff;
  font-size: 18px;
}
.modal .overlay .data .info h3,
.modal .overlay .data .info h4 {
  color: rgb(182, 182, 182);
}
.modal .overlay .data .info h4 span {
  color: tomato;
}
.modal .overlay .data .info a button {
  padding: 6px 20px;
  background-color: var(--orange-color);
  color: #fff;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  border: none;
}
.modal .overlay .description {
  position: relative;
  padding: 20px;
  height: 100%;
}
.modal .overlay .description p {
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  text-align: justify;
}
@media (max-width: 776px) {
  .modal .overlay {
    width: calc(100% - 20px);
  }
  .modal .overlay .data .info h1 {
    font-size: 14px;
  }
  .modal .overlay .data img {
    width: 150px;
    height: 200px;
  }
  .modal .overlay .data .info h3,
  .modal .overlay .data .info h4 {
    font-size: 11px;
  }
}
