/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Chat 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Chat {
  position: relative;
  width: 100%;
  background-color: #282c34;
}
.Chat .mountain {
  height: 0;
}
.Chat .messages {
  position: relative;
  padding: 15px;
  width: 100%;
  height: calc(100vh - 5.5vh);
  backdrop-filter: blur(50px);
  overflow-y: scroll;
  transition: var(--main-transition);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Chat .messages .messages-data.left {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  animation: fadein 0.5s ease-in-out;
  transition: var(--main-transition);
}

.Chat .messages .messages-data.right {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  width: 100%;
  animation: fadein 0.5s ease-in-out;
  transition: var(--main-transition);
}
@keyframes fadein {
  0% {
    opacity: 0;
    padding: 0 50px 0 50px;
  }
  100% {
    opacity: 1;
    padding: 0;
  }
}
.Chat .messages h1 {
  position: relative;
  background-color: var(--white-color);
  color: var(--main-text-color);
  margin: 0;
  width: fit-content;
  min-width: 184.5px;
  max-width: 45%;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border-radius: calc(var(--main-border-radius));
  transition: var(--main-transition);
}
@media (max-width: 776px) {
  .Chat .messages h1 {
    max-width: 100%;
  }
}
.Chat .messages .messages-data.right h1 {
  text-align: right;
}
.Chat .messages .messages-data.left h1::before {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--white-color) transparent transparent;
  left: -16px;
  top: 50%;
  transition: var(--main-transition);
  transform: translateY(-50%);
}
.Chat .messages .messages-data.right h1::before {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--white-color);
  right: -16px;
  top: 50%;
  transition: var(--main-transition);
  transform: translateY(-50%);
}
.Chat .messages p {
  position: relative;
  margin: 0;
  font-size: 14px;
  color: var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3d4e8d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Chat .messages::-webkit-scrollbar {
  width: 0px;
}
.Chat .SendMessage {
  position: relative;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  transition: var(--main-transition);
  overflow: hidden;
}
.Chat .SendMessage input {
  width: 100%;
  height: 100%;
  padding: 8px 15px;
  border: 0;
  background-color: transparent;
  color: var(--main-text-color);
  text-align: right;
  transition: var(--main-transition);
}
.Chat .SendMessage .SendMessage-button {
  height: inherit;
  min-width: 50px;
  border: 0;
  cursor: pointer;
  color: var(--main-text-color);
  background-color: var(--white-color);
  opacity: 0;
  z-index: -9999;
  transition: var(--main-transition);
  transform: translateX(-50%);
}
.Chat .SendMessage .SendMessage-button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.Chat .SendMessage .SendMessage-button.active {
  opacity: 1;
  z-index: 9999;
  transform: translateX(0);
}
