/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student  home page Student What We Offer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.WhatOffer {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--white-color);
}
@media (max-width: 767px) {
  .WhatOffer .container .box {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
.WhatOffer .container .box .box-titel {
  color: var(--main-color);
}

.WhatOffer .container .box .left p {
  line-height: 2;
  font-size: 18px;
  margin-left: 25px;
  width: 90%;
  color: var(--main-p-color);
}
.WhatOffer .container .box .left ul li {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
  color: var(--main-text-color);
}
.WhatOffer .container .box .left ul li::before {
  position: absolute;
  content: "\f058";
  width: 20px;
  height: 20px;
  left: 0;
  color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 1.3rem;
}
.WhatOffer .container .box .right img {
  width: 450px;
}
@media (max-width: 767px) {
  .WhatOffer .container .box .right img {
    width: 100%;
  }
}

.WhatOffer .container .box a {
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--main-color);
  border-radius: 4px 4px 4px 4px;
  padding: 20px 50px 20px 50px;
  color: #fff;
  transition: var(--main-transition);
  display: inline-block;
  margin-bottom: 50px;
}
.WhatOffer .container .box a:hover {
  background-color: var(--main-color-hover);
  animation: up 1.5s alternate infinite;
}
@keyframes up {
  100% {
    transform: translateY(-25%);
  }
}
