/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Student Friends call
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5px;
  background-color: var(--main-page-color);
  min-height: 100vh;
}
.video-container .videoChat,
.video-container .videoChat video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
