/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("root.css");

::selection {
  color: var(--main-color);
  background: #dddddd58;
  overflow: hidden;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Scroll bar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  box-shadow: 0 4px 30px #0bb3f550;
  backdrop-filter: blur(50px);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-hover);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# spikes
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.spikes {
  position: relative;
}

.spikes::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-image: linear-gradient(
      135deg,
      var(--white-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--white-color) 25%, transparent 25%);
  background-size: 30px 30px;
}
.spikes-rotated {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-image: linear-gradient(
      135deg,
      var(--white-color) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--white-color) 25%, transparent 25%);
  background-size: 30px 30px;
  transform: rotate(180deg) translateY(30px);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# input General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
input:focus {
  outline: none;
}
input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
textarea:focus {
  outline: none;
}
@media print {
  @page {
    size: landscape;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General elements
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
ul {
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  color: var(--main-p-color);
  line-height: 1.8;
  font-size: 1rem;
  color: var(--main-p-color);
  font-weight: 400;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# PAge 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.page {
  display: flex;
  background-color: var(--main-background-color);
  min-height: 100vh;
}
.gust-home {
  width: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Content 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.content {
  width: 100%;
  position: relative;
}
