/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# AnswerInquiries
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.AnswerInquiries {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.AnswerInquiries .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.AnswerInquiries .card {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  box-shadow: 1px 2px 5px 5px var(--white-color);
}
.AnswerInquiries .card .data {
  position: relative;
  width: 100%;
  background-color: var(--white-color);
  border: 0;
  padding: 8px 14px;
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 15px;
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.AnswerInquiries .card .data p {
  position: relative;
  width: 100%;
  color: var(--main-text-color);
  transition: var(--main-transition);
  font-size: 16px;
  text-align: right;
  border-bottom: 1px solid var(--main-text-color);
  padding: 10px 0;
}

.AnswerInquiries .card .data span {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
  transition: var(--main-transition);
  font-size: 14px;
  text-align: right;
  padding: 5px 0;
}
.AnswerInquiries .card .data span i {
  color: var(--orange-color);
  transition: var(--main-transition);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# AnswerInquiries input-card
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/

.AnswerInquiries .card .input-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.AnswerInquiries .card .input-card input {
  position: relative;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 0 10px;
}
.AnswerInquiries .card .input-card button {
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  cursor: pointer;
  transition: var(--main-transition);
}
.AnswerInquiries .card .input-card button:hover {
  color: var(--blue-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# No Inquiries
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.No_Inquiries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.No_Inquiries .NoInquirieslayer {
  width: 250px;
  height: 250px;
  max-width: 100%;
}
.No_Inquiries p {
  font-size: 18px;
  font-weight: bold;
}
