/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Chatbot Bot
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Chatbot {
  position: relative;
  width: 100%;
  background-color: #282c34;
}
.Chatbot .mountain {
  height: 0;
}
.Chatbot .messages {
  position: relative;
  padding: 15px;
  width: 100%;
  height: calc(100vh - 5.5vh);
  backdrop-filter: blur(50px);
  overflow-y: scroll;
  transition: var(--main-transition);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Chatbot .messages .messages-data.left {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.Chatbot .messages .messages-data.right {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  width: 100%;
}
.Chatbot .messages h1 {
  position: relative;
  background-color: var(--white-color);
  color: var(--black-color);
  margin: 0;
  width: fit-content;
  min-width: 184.5px;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border-radius: calc(var(--main-border-radius));
  transition: var(--main-transition);
}
.Chatbot .messages .messages-data.right h1 {
  text-align: right;
}
.Chatbot .messages .messages-data.left h1::before {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: transparent var(--white-color) transparent transparent;
  left: -16px;
  top: 50%;
  transition: var(--main-transition);
  transform: translateY(-50%);
}
.Chatbot .messages .messages-data.right h1::before {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--white-color);
  right: -16px;
  top: 50%;
  transition: var(--main-transition);
  transform: translateY(-50%);
}
.Chatbot .messages p {
  position: relative;
  margin: 0;
  font-size: 14px;
  color: var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3d4e8d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Chatbot .messages::-webkit-scrollbar {
  width: 0px;
}
.Chatbot .SendMessage {
  position: relative;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Chatbot .SendMessage input {
  width: 80%;
  height: 100%;
  padding: 8px 15px;
  border: 0;
  border-radius: 25px;
  background-color: var(--white-color);
  color: var(--black-color);
  text-align: right;
  transition: var(--main-transition);
}
.Chatbot .SendMessage input.active {
  border-radius: 25px 0 0;
}
.Chatbot .SendMessage .SendMessage-button {
  height: inherit;
  min-width: 50px;
  border-radius: 0 25px 0px 0;
  border: 0;
  cursor: pointer;
  color: var(--black-color);
  background-color: var(--white-color);
  opacity: 0;
  z-index: -9999;
  transition: var(--main-transition);
  transform: translateX(-50%);
}
.Chatbot .SendMessage .SendMessage-button.active {
  opacity: 1;
  z-index: 9999;
  transform: translateX(0);
}
