/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Activity Room
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ActivityRoom {
  position: relative;
}

.ActivityRoom .activity-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
@media (max-width: 776px) {
  .ActivityRoom .activity-container {
    gap: 10px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Activity Room box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ActivityRoom .activity-container .box img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0.6;
  color: var(--dark-blue);
  width: 150px;
  height: 150px;
  transition: var(--main-transition);
}
.ActivityRoom .activity-container .box span {
  font-size: 25px;
  color: var(--dark-blue);
  font-weight: bold;
  transition: var(--main-transition);
}

.ActivityRoom .activity-container .box:hover span {
  color: #fff;
}
.ActivityRoom .activity-container .box:hover img {
  opacity: 1;
}
