/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../css/root.css");

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# RounDom Quote
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.RounDomQuote {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  overflow: hidden;
}
.RounDomQuote .container > h1 {
  position: relative;
  color: var(--main-color);
  display: block;
  margin: 10px auto;
  text-align: center;
  z-index: 3;
  width: fit-content;
}
.RounDomQuote::before,
.RounDomQuote::after {
  position: absolute;
  content: "";
  background-color: var(--orange-color);
  width: 25%;
  height: 250%;
  border-radius: var(--main-border-radius);
  transform: skew(-45deg);
  transition: var(--main-transition);
}
.RounDomQuote::before {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}
.RounDomQuote::after {
  top: 0;
  left: 0;
  transform-origin: top left;
}
.quote_container {
  position: relative;
  background-color: var(--white-color);
  border-radius: var(--main-border-radius);
  padding: 20px;
  z-index: 5;
  box-shadow: var(--main-box-shadow);
}
.RounDomQuote .quote_container h1 {
  padding: 20px;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: var(--black-color);
  width: 100%;
}
.RounDomQuote .quote_container h1::before,
.RounDomQuote .quote_container h1::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "\f10e";
  font-weight: 900;
  font-family: "Font awesome 5 free";
  color: var(--orange-color);
}
.RounDomQuote .container h1::before {
  left: -50%;
  top: -30px;
}
.RounDomQuote .container h1::after {
  right: -50%;
  top: 100%;
}
.RounDomQuote p {
  position: relative;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1.2px;
  width: fit-content;
  margin: 0 auto;
}
.RounDomQuote p::before {
  position: absolute;
  color: var(--orange-color);
  content: "\f52d";
  right: -20%;
  font-weight: 900;
  font-family: "Font awesome 5 free";
}
