/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# cources page student courses
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.courses {
  position: relative;
  min-height: 100vh;
  background-color: var(--white-color);
  transition: var(--main-transition);
}
.student-courses-container {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--main-padding-bottom) * 2);
}

.student-courses-container .header,
.Select_Sub_generationSubjects .container .header {
  position: relative;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: var(--main-border-radius);
}

.student-courses-container .header .input-absulote,
.Select_Sub_generationSubjects .container .header .input-absulote {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: var(--main-border-radius);
}
.student-courses-container .header .input-absulote input,
.Select_Sub_generationSubjects .container .header .input-absulote input {
  padding: 10px 12px;
  border: none;
  border-radius: var(--main-border-radius);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.student-courses-container .header i,
.Select_Sub_generationSubjects .container .header i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09729c;
  color: var(--white-color);
  border-radius: calc(var(--main-border-radius) / 2);
  cursor: pointer;
  font-size: large;
  box-shadow: 0px 10 px 10px -3px rgba(0, 0, 0, 0.2);
}
.student-courses-container .header i.active,
.Select_Sub_generationSubjects .container .header i.active {
  background-color: var(--orange-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # .student-courses-container .NoClassesInserted 
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .NoClassesInserted {
  position: relative;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
}
.student-courses-container .NoClassesInserted h5 {
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # student-courses-container container-courses.grid card
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  z-index: 2;
}
@media (max-width: 776px) {
  .student-courses-container .container-courses.grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 0.5fr));
  }
}
.student-courses-container .container-courses.grid .card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--white-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 18px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.student-courses-container .container-courses.grid .card .info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.student-courses-container .container-courses.grid .card .info .PLayer {
  width: 100%;
  height: 100%;
}
.student-courses-container .container-courses.grid .card .info p {
  position: relative;
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # student-courses-container container-courses.grid list
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.student-courses-container .container-courses.list {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.student-courses-container .container-courses.list .card {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}
.student-courses-container .container-courses.list .card .info {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px 20px;
}
.student-courses-container .container-courses.list .card .info .PLayer {
  position: relative;
  width: 100px;
}
.student-courses-container .container-courses.list .card .info p {
  position: relative;
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
/*******************************************************
  # Container Grid Card
*********************************************************/
.Select_Sub_generationSubjects .container.grid {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
@media (max-width: 550px) {
  .Select_Sub_generationSubjects .container.grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
/*******************************************************
  # Container list Card
*********************************************************/
.Select_Sub_generationSubjects .container.list {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*******************************************************
  # Grid Card
*********************************************************/
.Select_Sub_generationSubjects .container.grid .Card {
  position: relative;
  width: 100%;
  padding: 10px;
  min-height: 300px;
  background-color: var(--white-color);
  border-radius: var(--main-border-radius);
  box-shadow: 0px 10px 8px 4px var(--main-background-color);
  transition: var(--main-transition);
}
.Select_Sub_generationSubjects .container.grid .Card .PLayer {
  width: 100%;
}

/*******************************************************
  # list Card
*********************************************************/

.Select_Sub_generationSubjects .container.list .Card {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: var(--white-color);
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  box-shadow: 0px 10px 8px 4px var(--main-background-color);
  transition: var(--main-transition);
}
.Select_Sub_generationSubjects .container.list .Card .PLayer {
  height: 100px;
}
.Select_Sub_generationSubjects .container.list .Card .data {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.Select_Sub_generationSubjects .container.list .Card h3 {
  width: 100%;
  text-align: left;
  color: var(--blue-color);
}
